@import "../../../styles/colors";

.Request_car {
  margin: 0 2rem 2rem 0;
}
.cart {
  margin-top: 1.6rem;
  .rent_info {
    h3 {
      font-size: 1.4rem;
      margin-top: 0;
    }
  }
}

.Role_container {
  padding: 0.5rem 1rem 1rem;
}
