@import '../../styles/colors';
.start_generator_container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  line-height: 0;
  img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
  }
}
.ltr_start_generator_container {
  margin-left: 0;
  margin-right: 6px;
  img {
    margin-left: 0;
    margin-right: 2px;
  }
}
