@import "../../styles/colors";
.start_generator_container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.6rem;
  line-height: 0;
  img{
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.2rem;
  }
}
