@import '../../../../styles/colors';

.modal_box_div {
  &:nth-last-of-type(1) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  width: 100%;
  form {
    width: 100%;
    input {
      margin: 0.8rem auto 0.5rem;
    }
    .error_message {
      color: $Error_text_color;
      font-size: 1.2rem;
    }
  }
  .login_submit {
    display: block;
    width: 100%;
    margin-top: 2rem;
  }
}
