@import "../../../../styles/colors";

.modal_box_div {
  .optional_caption {
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
  }
  &:nth-last-of-type(1) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  width: 100%;
  form {
    width: 100%;
    .text_input_container {
      .text_input_label {
        line-height: 1.5;
      }
      input {
        margin-bottom: 0.3rem;
        &:focus::placeholder {
          color: transparent;
        }
        &:focus::-moz-placeholder {
          color: transparent;
        }
        &:focus:-moz-placeholder {
          color: transparent;
        }
      }
      .separated_places {
        .text_input {
          width: 100%;
          font-size: 2em;
          letter-spacing: 1.6rem;
          position: relative;
          z-index: 4;
          &:focus {
            background-color: transparent;
          }
        }
        ._characters {
          position: absolute;
          left: 0;
          width: 85%;
          height: 5px;
          display: block;
          bottom: 0;
          text-align: left;
          div {
            display: inline;
            line-height: 0;
            font-size: 3rem;
          }
        }
      }
    }
    .error_message {
      color: $Error_text_color;
      font-size: 1.2rem;
    }
  }
  .login_submit {
    display: block;
    width: 100%;
    margin-top: 2rem;
  }
}
