@import "../../../../styles/colors";

.modal_box_div {
  .optional_caption {
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
  }
  &:nth-last-of-type(1) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  width: 100%;
  form {
    width: 100%;
    .text_input_container {
      .text_input_label {
        line-height: 1.5;
      }
      input {
        margin-bottom: 0.3rem;
        &:focus::placeholder {
          color: transparent;
        }
        &:focus::-moz-placeholder {
          color: transparent;
        }
        &:focus:-moz-placeholder {
          color: transparent;
        }
      }
    }
    .error_message {
      color: $Error_text_color;
      font-size: 1.2rem;
    }
  }
  .login_submit {
    display: block;
    width: 100%;
    margin-top: 2rem;
  }
}
