@import "../../styles/colors";

.complete_register_container {
  max-width: 69rem;
  .pageTitle {
    position: relative;
    .Person_icon {
      margin: 1rem;
      margin-right: 0;
      display: inline-block;
      vertical-align: middle;
      width: 6rem;
    }
    h3 {
      font-size: 1.8rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .complete_register_form {
    background: #fdfdfd;
    border: 1px solid $light_grey;
    font-size: 1.4rem;
    border-radius: 4px;
    padding: 1.6rem;
    border: none;
    box-shadow: $box_shadow;
    .text_input_container {
      margin: 0 0 2rem;
      label {
        font-weight: 500;
      }
    }
    .name_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text_input_container {
        width: 49%;
        .clean_icon {
          bottom: 1.5rem;
        }
      }
    }
    .company_part {
      p {
        color: $blue;
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 2rem;
        cursor: pointer;
      }
      .add_company_input_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .text_input_container {
          display: inline-block;
          vertical-align: middle;
          margin-left: 2rem;
          width: 90%;
          .clean_icon {
            bottom: 1.5rem;
          }
        }
        span {
          display: inline-block;
          font-weight: 500;
          font-size: 1.6rem;
          color: $blue;
          padding: 0 1.4rem;
          cursor: pointer;
        }
      }
    }
    .date_birth {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .text_input_container,
      .DropDown_container {
        width: 32%;
      }
      .text_input_container {
        .clean_icon {
          bottom: 1.5rem;
        }
      }
      .DropDown_container {
        input {
          height: 5.1rem;
          margin: 1rem 0 0;
        }
      }
    }
    .check_box_container {
      .container {
        margin-top: 1rem;
        margin-bottom: 0rem;
      }
    }
    .red_check_box {
      border-color: $Error_text_color;
    }
    .local_BTN {
      display: block;
      width: 100%;
    }
    .disable_BTN {
      color: #656565;
      font-family: inherit;
      background-color: #e6e6e6;
    }
  }
}

@media screen and(max-width:575px) {
  .complete_register_container {
    .complete_register_form {
      background-color: transparent;
      box-shadow: none;
      .name_container {
        display: block;
        .text_input_container {
          width: 100%;
        }
      }
      .date_birth {
        display: block;
        .text_input_container,
        .DropDown_container {
          width: 100%;
        }
        .DropDown_container {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
