@import "../../styles/colors";

.search_result_page_container {
  .content_container {
    .filter_section {
      max-width: 30rem;
      padding: 2rem;
      width: 28%;
      background: #fcfcfc;
      display: inline-block;
      vertical-align: top;
      font-size: 1.4rem;
      box-shadow: $box_shadow;
      border-radius: 4px;
      margin-top: 2rem;

      h3 {
        font-size: 1.4rem;
      }
      .closeBtnWrapper {
        .Close_filter {
          display: none;
        }
      }
      .check_box_container {
        display: block;
        .count {
          float: left;
        }
      }
      .DropDown_container {
        label {
          font-weight: 500;
          font-size: 1.4rem;
        }
        margin-bottom: 1.2rem;
      }
      .result_count_wrapper {
        background: rgb(250, 250, 250);
        background: linear-gradient(
          0deg,
          rgba(250, 250, 250, 1) 0%,
          rgba(250, 250, 250, 1) 66%,
          rgba(255, 255, 255, 0) 100%
        );
        bottom: 0;
        position: sticky;
        padding-top: 2rem;
        padding-bottom: 1rem;
        .ResultCount {
          font-size: 1.4rem;
          font-weight: 500;
          background-color: $blue;
          padding: 0.9rem 0;
          margin-top: 2rem;
          text-align: center;
          width: 100%;
          border-radius: 4px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and(max-width:960px) {
  .search_result_page_container {
    .content_container {
      .with_drawer {
        top: 0;
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.376);
        right: 0;
        z-index: 30;
      }

      .filter_section {
        &.show_Filter_section {
          z-index: 9999999999;
          opacity: 1;
          transform: translateY(0px);
        }

        .closeBtnWrapper {
          display: block;
          height: 5.6rem;
          position: sticky;
          top: 0;
          background: #fcfcfc;
          z-index: 2;
          padding-top: 2rem;
          padding-bottom: 1rem;
          .Close_filter {
            display: inline-block;
            float: left;
            cursor: pointer;
            svg {
              display: inline-block;
              vertical-align: middle;
              width: 3rem;
            }
          }
        }
        .body_style_type_wrapper {
          .check_box_container {
            .container {
              display: inline-block;
              width: 50%;
            }
          }
        }

        transition: 0.5s all;
        transform: translateY(1000px);
        z-index: 1;
        opacity: 0;
        width: 100%;
        max-width: 100%;
        position: fixed;
        overflow-y: scroll;
        right: 0;
        top: auto;
        height: 72%;
        bottom: 0;
        margin-top: 0;
        padding: 0rem 2rem 0rem 2rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        &::-webkit-scrollbar {
          width: 0rem;
        }
        /* Track */
        &::-webkit-scrollbar-track {
          background: $scrollbar_track;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $scrollbar_thumb;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: $scrollbar_thumb_hovor;
        }
      }
    }
  }
}
