@use '../newStyles/variables' as var; 
@import '../colors';
.container {
  margin-top: 30px;
  padding-bottom: 20px;
  position: relative;
  box-shadow: var.$boxShadow;
  h1 {
    margin-block: 20px;
    display: inline-block;
  }
  ul {
    column-count: 1;
    list-style-type: arabic-indic;
    list-style-position: inside;
    @media (min-width: var.$screenMin600) {
      column-count: 2;
    }
    @media (min-width: var.$screenMax768) {
      column-count: 3;
    }
    li {
      margin-bottom: 10px;
      font-size: 14px;
      a {
        color: $_3fa6da;
      }
    }
    .linkLoader {
      width: 120px;
      margin-bottom: 20px;
      height: 20px;
    }
  }
}
