@import "../../../styles/units";
@import "../../../styles/colors";

.step_2_form_container {
  max-width: 68rem;
  .pageTitle {
    position: relative;
    .car_icon {
      margin: 1rem;
      margin-right: 0;
      display: inline-block;
      vertical-align: middle;
    }
    h3 {
      font-size: 1.8rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .step_2_image_pelak {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .Image_container {
      width: 15rem;
      min-height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        display: block;
        width: 100%;
        border-radius: 4px;
      }
    }
    .pelak_container {
      font-size: 1.4rem;
      margin-right: 2rem;
      margin-top: 1rem;
      .pelak_view_container {
        width: 240px;
        .first {
          position: absolute;
          width: 5rem;
          left: 50px;
          top: 9px;
          font-size: 2rem;
        }
      }
      img {
        width: 20rem;
      }
    }
  }

  .add_car_form_step_2 {
    background: #fff;
    font-size: 1.4rem;
    border-radius: 4px;
    padding: 1.6rem;
    border: none;
    box-shadow: $box_shadow;
    margin-bottom: 2rem;
    .DropDown_container,
    .radio_father,
    .text_input_container {
      margin: 0 0 2rem;
    }
    .extra_text {
      margin: 0rem 0 1.6rem 0;
      font-size: 1.6rem;
    }
    .DropDown_container label,
    label {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      display: block;
    }
    .custom_input_container_step_2 {
      max-width: 38rem;
      .text_input_container {
        display: inline-block;
        vertical-align: middle;
        width: 15rem;
      }
      .tail_text {
        display: inline-block;
        margin-right: 1rem;
      }
    }
    .check_box_container {
      margin-bottom: 1.2rem;
    }
    .Set_Price_date_options {
      .radio_container {
        display: block;
        margin-bottom: 1.2rem;
      }
      hr {
        border-color: $input_border;
        margin-bottom: 2rem;
      }
    }
    .text_area_step_2 {
      min-height: 15rem;
      width: 100%;
      font-family: inherit;
      margin: 0.3rem auto 2rem;
      display: block;
      outline: 0;
      -webkit-appearance: none;
      line-height: 2;
      padding: 0.5rem;
      font-size: 1.4rem;
      background: #fff;
      border: 1px solid $input_border;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 0.4rem;
      box-shadow: 0 0 0 0 transparent inset;
      box-sizing: border-box;
    }
  }
  .local_style {
    display: block;
    width: 100%;
  }
}
