@import "../../../styles/units";
@import "../../../styles/colors";

.step_2_form_container {
  margin-top: $padding_top;
  max-width: 68rem;
  .step_2_main_container {
    .pageTitle {
      position: relative;
      padding: 1.6rem;
      h3 {
        font-weight: 500;
        color: $purple;
        font-size: 1.5rem;
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
      }
      .pelak_container {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $purple;
        padding-bottom: 0.5rem;
        // margin-right: 2rem;
        .car_name_brand {
          font-weight: 400;
          font-size: 1.4rem;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          background-color: rgba(163, 103, 139, 0.07);
          display: inline-block;
          .carName_placeHoler {
            width: 12rem;
            height: 1rem;
            display: inline-block;
            vertical-align: middle;
          }
          svg {
            width: 2.3rem;
            margin: 0.2rem 0 0.2rem 0.8rem;
            display: inline-block;
            vertical-align: middle;
          }
        }
        .licence_number {
          width: 12rem;
          text-align: left;
          p {
            display: inline-block;
            margin: 0.3rem;
            vertical-align: middle;
            color: $more_gray;
            &:nth-last-of-type(4) {
              color: rgba(163, 103, 139, 0.3);
              font-size: 2rem;
            }
          }
        }
        // .pelak_view_container {
        //   width: auto;
        //   display: inline-block;
        //   .first {
        //     position: absolute;
        //     width: 5rem;
        //     left: 74px;
        //     top: 6px;
        //   }
        //   .second {
        //     right: 87px;
        //     top: 0;
        //   }
        //   .third {
        //     position: absolute;
        //     top: 6px;
        //     right: 46px;
        //   }
        //   .forth {
        //     top: 12px;
        //     right: 10px;
        //     font-size: 1.6rem;
        //   }
        // }
        // img {
        //   width: 16rem;
        //   background: #fafafa;
        // }
      }
    }
    background: #fdfdfd;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.6rem;
    .add_car_form_step_2 {
      position: relative;
      font-size: 1.4rem;
      border-radius: 4px;
      padding: 1.6rem 1.6rem 1rem;
      border: none;
      .DropDown_container,
      .radio_father,
      .text_input_container {
        margin: 0rem;
      }
      .extra_text {
        margin: 0rem 0 1.2rem 0;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 500;
        .extra_text {
          color: $more_gray;
        }
      }
      .DropDown_container label,
      label {
        display: block;
        margin: 0rem 0 1.2rem 0;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 500;
      }
      .custom_input_container_step_2 {
        max-width: 38rem;
        margin-bottom: 3rem;
        .text_input_container {
          display: inline-block;
          vertical-align: middle;
          width: 15rem;
          .clean_icon {
            bottom: 15px;
          }
          .input_surround {
            .text_input {
              margin: 0rem auto;
              &::placeholder {
                color: $gray;
              }
              &:focus {
                &::placeholder {
                  color: transparent;
                }
              }
            }
          }
        }
        .tail_text {
          height: 100%;
          display: inline-block;
          align-items: center;
          color: #707070;
          background-color: #fafafa;
          padding: 1.8rem 1rem;
          border-radius: 4px;
          white-space: nowrap;
          margin-right: 0.8rem;
        }
        .our_recommendation {
          color: $orange;
          background-color: rgba($color: $orange, $alpha: 0.1);
          width: auto;
          display: inline-block;
          padding: 0.5rem 0.8rem;
          border-radius: 4px;
          font-weight: 500;
          font-size: 1.3rem;
          margin-top: 0.8rem;
        }
        .our_recommendation_placeHoler {
          width: 60%;
          height: 1.5rem;
          display: block;
          padding: 0.5rem 0.8rem;
          border-radius: 4px;
          margin-top: 0.8rem;
        }
      }
      .extra_km_price_container {
        .text_input_container {
          .clean_icon {
            bottom: 15px;
          }
        }
      }
      .DropDown_extra_km {
        .DropDown_container {
          margin: 0;
          display: inline-block;
          width: 15rem;
          .input_wrapper {
            .clean_icon {
              top: 1.6rem;
              left: 4rem;
            }
            .ArrowDown {
              top: 1.7rem;
            }
            input {
              height: 5.1rem;
              font-size: 1.4em;
            }
          }
        }
      }
      .check_box_container {
        margin-bottom: 2.4rem;
        .container {
          .checkmark {
            top: -3px;
            height: 2rem;
            width: 2rem;
            &:after {
              left: 6px;
              top: 2px;
            }
          }
        }
        &:last-of-type {
          margin-bottom: 1rem;
        }
        label {
          margin-bottom: 0;
          color: $more_gray;
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
      .Set_Price_date_options {
        .radio_container {
          display: block;
          margin-bottom: 1.2rem;
        }
        .radio_container:last-child:not(.active_radio_item) {
          position: absolute;
          bottom: 1.6rem;
          right: 1.6rem;
          margin: 0;
        }
      }
      .anchorTagInStep2 {
        cursor: pointer;
        display: block;
        color: $blue;
        font-size: 1.3rem;
        line-height: 2.2;
        margin-bottom: 2rem;
      }
      .cancelation_items_container {
        .check_box_container {
          margin-bottom: 0.5rem;
          .container {
            color: $blue;
            font-weight: 400;
            padding: 0.85rem 1rem;
            min-width: auto;
            width: auto;
            border-radius: 2rem;
            margin: 0 0 0 1rem;
            display: inline-block;
            background: #fff;
            border: 1px solid $blue;
          }
          .checkmark {
            display: none;
          }
          &::-webkit-scrollbar {
            display: none;
            height: 0.8rem;
            width: 100%;
          }
        }
        .deposit_container {
          p {
            display: inline-block;
            vertical-align: middle;
          }
          .text_input_container {
            display: inline-block;
            width: 17rem;
            margin: 0 1rem 2rem;
            .input_surround {
              .text_input {
                margin: 0;
                padding: 0.7rem;
                &::placeholder {
                  color: $gray;
                }
                &:focus {
                  &::placeholder {
                    color: transparent;
                  }
                }
              }
            }
          }
        }
      }
      .text_area_step_2 {
        min-height: 19rem;
        width: 100%;
        font-family: inherit;
        margin: 0.3rem auto 0rem;
        display: block;
        outline: 0;
        -webkit-appearance: none;
        line-height: 2;
        padding: 0.5rem;
        font-size: 1.4rem;
        background: transparent;
        border: 1px solid $light_grey;
        color: rgba(0, 0, 0, 0.87);
        border-radius: 0.4rem;
        box-shadow: 0 0 0 0 transparent inset;
        box-sizing: border-box;
        &::placeholder {
          color:$gray;
        }
        &:focus {
          background: #fff;
          &::placeholder {
            color: transparent;
          }
        }
      }
    }
    .daily_price_container {
      .text_input_container {
        margin: 0rem;
        label {
          margin: 0;
        }
      }
      .persianCurrency {
        size: 1.1rem;
        margin-bottom: 1rem;
        font-weight: 300;
        color: $more_gray;
      }
    }
    .local_style {
      display: block;
      width: 100%;
    }
  }
}

@media screen and(max-width:720px) {
  .step_2_form_container {
    .step_2_main_container {
      box-shadow: none;
      background: transparent;
      .pageTitle {
        padding: 0 0 1.6rem;
      }
      .add_car_form_step_2 {
        border-bottom: 1px solid rgba(34, 36, 38, 0.1);
        border-radius: 0;
        padding: 1.6rem 0;
        &:last-of-type {
          border-bottom: none;
        }
        .cancelation_items_container {
          .check_box_container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            .container {
              display: inline-block;
              margin-bottom: 0;
              flex: 0 0 auto;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:557px) {
  .step_2_form_container {
    .pageTitle {
      position: relative;
      .car_icon {
        display: none;
      }
      h3 {
        margin-bottom: 0rem;
        margin-top: 2rem;
      }
      .pelak_container {
        .car_name_brand {
          max-width: 73%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
