@import '../../../styles/units';
@import '../../../styles/colors';

.step_2_form_container {
  margin-top: $padding_top;
  max-width: 680px;
  .step_2_main_container {
    .pageTitle {
      position: relative;
      padding: 16px;
      h3 {
        font-weight: 500;
        color: $_c06daa;
        font-size: 15px;
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
      }
      .pelak_container {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $_c06daa;
        padding-bottom: 5px;
        // margin-right: 20px;
        .car_name_brand {
          font-weight: 400;
          font-size: 14px;
          padding: 5px 10px;
          border-radius: 5px;
          background-color: rgba(163, 103, 139, 0.07);
          display: inline-block;
          .carName_placeHoler {
            width: 120px;
            height: 10px;
            display: inline-block;
            vertical-align: middle;
          }
          svg {
            width: 23px;
            margin: 2px 0 2px 8px;
            display: inline-block;
            vertical-align: middle;
          }
        }
        .licence_number {
          width: 120px;
          text-align: left;
          p {
            display: inline-block;
            margin: 3px;
            vertical-align: middle;
            color: $_313131;
            &:nth-last-of-type(4) {
              color: rgba(163, 103, 139, 0.3);
              font-size: 20px;
            }
          }
        }
        // .pelak_view_container {
        //   width: auto;
        //   display: inline-block;
        //   .first {
        //     position: absolute;
        //     width: 50px;
        //     left: 74px;
        //     top: 6px;
        //   }
        //   .second {
        //     right: 87px;
        //     top: 0;
        //   }
        //   .third {
        //     position: absolute;
        //     top: 6px;
        //     right: 46px;
        //   }
        //   .forth {
        //     top: 12px;
        //     right: 10px;
        //     font-size: 1.60px;
        //   }
        // }
        // img {
        //   width: 160px;
        //   background: $_fafafa;
        // }
      }
    }
    background: $_fdfdfd;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
    .add_car_form_step_2 {
      position: relative;
      font-size: 14px;
      border-radius: 4px;
      padding: 16px 16px 10px;
      border: none;
      .DropDown_container,
      .radio_father,
      .text_input_container {
        margin: 0;
      }
      .extra_text {
        margin: 0 0 12px 0;
        font-size: 14px;
        line-height: 1;
        font-variation-settings: 'wght' 700;
        font-weight: 700;
        .extra_text {
          color: $_313131;
        }
      }
      .DropDown_container label,
      label {
        display: block;
        margin: 0 0 8px 0;
        font-size: 14px;
        line-height: 1;
        font-variation-settings: 'wght' 700;
        font-weight: 700;
      }
      .custom_input_container_step_2 {
        max-width: 380px;
        margin-bottom: 30px;
        & > div {
          padding: 0;
        }
        input {
          width: 150px;
        }
        .text_input_container {
          display: inline-block;
          vertical-align: middle;
          width: 150px;
          .clean_icon {
            bottom: 15px;
          }
          .input_surround {
            .text_input {
              margin: 0 auto;
              &::placeholder {
                color: $_bfbfbf;
              }
              &:focus {
                &::placeholder {
                  color: transparent;
                }
              }
            }
          }
        }
        .tail_text {
          height: 100%;
          display: inline-block;
          align-items: center;
          color: $_707070;
          background-color: $_fafafa;
          padding: 18px 10px;
          border-radius: 4px;
          white-space: nowrap;
          margin-right: 8px;
        }
        .our_recommendation {
          color: $_ed9026;
          background-color: rgba($color: $_ed9026, $alpha: 0.1);
          width: auto;
          display: inline-block;
          padding: 5px 8px;
          border-radius: 4px;
          font-weight: 500;
          font-size: 13px;
          margin-top: 8px;
        }
        .our_recommendation_placeHoler {
          width: 60%;
          height: 15px;
          display: block;
          padding: 5px 8px;
          border-radius: 4px;
          margin-top: 8px;
        }
      }
      .extra_km_price_container {
        .text_input_container {
          .clean_icon {
            bottom: 15px;
          }
        }
      }
      .DropDown_extra_km {
        .DropDown_container {
          margin: 0;
          display: inline-block;
          width: 150px;
          .input_wrapper {
            .clean_icon {
              top: 16px;
              left: 40px;
            }
            .ArrowDown {
              top: 17px;
            }
            input {
              height: 51px;
            }
          }
        }
      }
      .driver_satus {
        margin-bottom: 30px;
        p {
          margin-bottom: 18px;
          line-height: 24px;
        }
        .radio_container {
          margin-bottom: 16px;
          display: block;
          .checkmark {
            top: -4px;
          }
          label {
            margin-bottom: 0;
            color: $_707070;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
      .deliveryOption {
        label {
          font-variation-settings: 'wght' 500;
          font-weight: 500;
        }
        .label {
          font-variation-settings: 'wght' 700;
          font-weight: 700;
          margin-bottom: 18px;
        }
      }
      .check_box_container {
        margin-bottom: 24px;
        .container {
          .checkmark {
            top: -3px;
            height: 20px;
            width: 20px;
            &:after {
              left: 6px;
              top: 2px;
            }
          }
        }
        &:last-of-type {
          margin-bottom: 10px;
        }
        label {
          margin-bottom: 0;
          color: $_313131;
          font-size: 13px;
          font-weight: 400;
        }
      }
      .transition_type_Label {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 4px;
        label {
          font-variation-settings: 'wght' 500;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .Set_Price_date_options {
        .radio_container {
          display: block;
          margin-bottom: 12px;
        }
        .radio_container:last-child:not(.active_radio_item) {
          position: absolute;
          bottom: 16px;
          right: 16px;
          margin: 0;
        }
      }
      .anchorTagInStep2 {
        cursor: pointer;
        display: block;
        color: $_3fa6da;
        font-size: 13px;
        line-height: 2.2;
        margin-bottom: 20px;
      }
      .cancelation_items_container {
        .check_box_container {
          margin-bottom: 5px;
          .container {
            color: $_3fa6da;
            font-weight: 400;
            padding: 8px 10px;
            min-width: auto;
            width: auto;
            border-radius: 20px;
            margin: 0 0 0 10px;
            display: inline-block;
            background: $_ffffff;
            border: 1px solid $_3fa6da;
          }
          .checkmark {
            display: none;
          }
          &::-webkit-scrollbar {
            display: none;
            height: 8px;
            width: 100%;
          }
        }
        .deposit_container {
          p {
            display: inline-block;
            vertical-align: middle;
          }
          .text_input_container {
            display: inline-block;
            width: 170px;
            margin: 0 10px 20px;
            .input_surround {
              .text_input {
                margin: 0;
                padding: 7px;
                &::placeholder {
                  color: $_bfbfbf;
                }
                &:focus {
                  &::placeholder {
                    color: transparent;
                  }
                }
              }
            }
          }
        }
      }
      .text_area_step_2 {
        min-height: 190px;
        width: 100%;
        font-family: inherit;
        margin: 3px auto 0;
        display: block;
        outline: 0;
        -webkit-appearance: none;
        line-height: 2;
        padding: 5px;
        font-size: 14px;
        background: transparent;
        border: 1px solid $_bfbfbf;
        color: rgba(0, 0, 0, 0.87);
        border-radius: 4px;
        box-shadow: 0 0 0 0 transparent inset;
        box-sizing: border-box;
        &::placeholder {
          color: $_bfbfbf;
        }
        &:focus {
          background: $_ffffff;
          &::placeholder {
            color: transparent;
          }
        }
      }
    }
    .daily_price_container {
      .text_input_container {
        margin: 0;
        label {
          margin: 0;
        }
      }
      .persianCurrency {
        size: 11px;
        margin-bottom: 10px;
        font-weight: 300;
        color: $_313131;
      }
    }
    .local_style {
      display: block;
      width: 100%;
      padding: 16px 21px;
    }
  }
}

.step_2_form_container[dir='ltr'] {
  .step_2_main_container {
    .pageTitle {
      .pelak_container {
        .car_name_brand {
          svg {
            margin: 2px 8px 2px 0;
          }
        }
        .licence_number {
          text-align: right;
          direction: rtl;
        }
      }
    }
    .add_car_form_step_2 {
      .custom_input_container_step_2 {
        .tail_text {
          margin-right: 0;
          margin-left: 8px;
        }
      }
      .DropDown_extra_km {
        .DropDown_container {
          .input_wrapper {
            .clean_icon {
              left: auto;
              right: 40px;
            }
          }
        }
      }
      .check_box_container {
        .container {
          .checkmark {
            &:after {
              left: auto;
              right: 6px;
            }
          }
        }
      }
      .Set_Price_date_options {
        .radio_container:last-child:not(.active_radio_item) {
          right: auto;
          left: 16px;
        }
      }

      .cancelation_items_container {
        .check_box_container {
          .container {
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}

@media screen and(max-width:720px) {
  .step_2_form_container {
    .step_2_main_container {
      box-shadow: none;
      background: transparent;
      .pageTitle {
        padding: 0 0 16px;
      }
      .add_car_form_step_2 {
        border-bottom: 1px solid rgba(34, 36, 38, 0.1);
        border-radius: 0;
        padding: 16px 0;
        &:last-of-type {
          border-bottom: none;
        }
        .cancelation_items_container {
          .check_box_container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            .container {
              display: inline-block;
              margin-bottom: 0;
              flex: 0 0 auto;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:557px) {
  .step_2_form_container {
    .pageTitle {
      position: relative;
      .car_icon {
        display: none;
      }
      h3 {
        margin-bottom: 0;
        margin-top: 20px;
      }
      .pelak_container {
        .car_name_brand {
          max-width: 73%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
