@import "../../../../styles/colors";

.search_result_section {
  .carCart {
    width: 32%;
    height: 282px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    margin: 0 1.3% 1.3% 0;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    direction: rtl;
    .card_wrapper {
      cursor: pointer;
    }
    figure {
      position: relative;
      height: 175px;
      overflow: hidden;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      .discount_badge {
        position: absolute;
        left: 0px;
        bottom: 0;
        z-index: 1;
        line-height: 1.8;
        background-color: $orange;
        display: inline-block;
        color: #fff;
        padding: 0px 6px;
        border-radius: 0px 3px 0px 0px;
        font-size: 1.3rem;
      }
      .Special {
        position: absolute;
        bottom: 23px;
        font-size: 1.3rem;
        z-index: 1;
        line-height: 1.8;
        background-color: #2cb8c2;
        display: inline-block;
        color: white;
        padding: 0px 10px;
        border-radius: 0px 3px 0px 0px;
        left: 0;
      }
      .read_more {
        display: none;
        top: 43%;
        background-color: #f7f7f7;
        color: #2a2a2a;
        font-size: 1rem;
        padding: 0.7rem 0;
        border-radius: 20px;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        width: 102px;
        text-align: center;
      }
      &:hover .read_more {
        display: block;
      }
      img {
        width: 100%;
      }
    }
    .info_box {
      position: relative;
      padding: 0 0.8rem;
      .car_brand {
        h3 {
          font-size: 1.8em;
          margin-bottom: 0;
          width: 155px;
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          // margin-top: -40px;
        }
        p {
          font-size: 1.2rem;
        }
      }
      .price {
        left: 0rem;
        text-align: center;
        width: 80px;
        height: 77px;
        border-radius: 4px;
        padding: 0.5rem;
        margin: 0px auto;
        top: 3px;
        position: absolute;
        font-size: 2rem;
        .Price_number {
          font-size: 2.3rem;
        }
        p {
          font-size: 1.1rem;
          line-height: 1.3;
        }
      }
      .tags_container {
        margin-top: 2.3rem;
        li {
          display: inline-block;
          margin-left: 0.8rem;
          .tags {
            color: #262626;
            background: #e3e3e3;
            padding: 0.2rem 0.6rem;
            border-radius: 4px;
            font-size: 1rem;
          }
          .location_tag {
            background: rgba(3, 142, 210, 0.11);
            color: $blue;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and(max-width:768px) {
  .search_result_section {
    .carCart {
      width: 49%;
      height: 307px;
      margin: 0 0 2% 0;
      figure {
        height: 200px;
      }
      .info_box {
        .tags_container {
          margin-top: 2rem;
          li {
            .tags {
              padding: 0.5rem 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:480px) {
  .search_result_section {
    .carCart {
      width: 100%;
      margin: 0 0 2rem;
    }
  }
}
