@import '../../../styles/colors';

.disableContainer {
  opacity: 0.5;
  cursor: not-allowed;
}
.container {
  width: 100%;
  position: relative;
  font-size: 14px;
  .label {
    margin-bottom: 5px;
    display: block;
  }
  .nativeSelect {
    position: relative;
    .nativeWithArrow {
      position: absolute;
      top: 11px;
      inset-inline-end: 11px;
      cursor: pointer;
    }
    .defaultSelect {
      font-family: inherit;
      margin: 3px auto 5px;
      display: block;
      width: 100%;
      outline: 0;
      -webkit-appearance: none;
      height: 42px;
      line-height: 1.5;
      padding: 5px;
      font-size: 14px;
      background: #fff;
      border: 1px solid rgba(34, 36, 38, 0.15);
      color: rgba(0, 0, 0, 0.87);
      border-radius: 4px;
      box-shadow: 0 0 0 0 transparent inset;
    }
  }
  .inputWrapper {
    font-family: 'danaXV', 'dana', tahoma;
    position: relative;
    input {
      cursor: pointer;
      font-family: inherit;
      margin: 0;
      display: block;
      width: 100%;
      outline: 0;
      -webkit-appearance: none;
      line-height: 2;
      padding: 6px;
      background: $_ffffff;
      border: 1px solid $_bfbfbf;
      color: $_313131;
      border-radius: 4px;
      box-shadow: 0 0 0 0 transparent inset;
      &:focus {
        box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.11);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background: $_ffffff;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
    .inputError {
      border-color: $_e0b4b4;
      background-color: $_fff6f6;
    }
    .loading,
    .cleanIcon,
    .withArrow,
    .colorCube {
      position: absolute;
      top: 12px;
      inset-inline-end: 11px;
    }
    .cleanIcon,
    .withArrow,
    .colorCube {
      cursor: pointer;
    }
    .withArrow {
      transition: 0.25s;
      transform: rotate(180deg);
    }
    .rotateArrow {
      transform: rotate(0deg);
    }
    .colorCube {
      width: 20px;
      height: 20px;
      border: 1px solid $_bfbfbf;
      border-radius: 4px;
    }
    .errorMessage {
      color: $_b22222;
      font-size: 13px;
      font-weight: 500;
      font-variation-settings: 'wght' 500;
    }
  }
  .dropdown {
    position: absolute;
    padding: 0 10px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 30;
    width: 100%;
    max-height: 300px;
    min-height: 60px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid rgba($color: $_222426, $alpha: 0.18);
    border-top: none;
    background: #fff;
    box-shadow: 1px 2px 2px 0 rgba($color: $_000000, $alpha: 0.11);
    .searchContainer {
      position: sticky;
      top: 0;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $_ffffff;
        z-index: -1;
      }
      input {
        text-indent: 22px;
        margin: 10px auto 0;
        display: block;
        width: 100%;
        -webkit-appearance: none;
        line-height: 1;
        padding: 10px;
        font-size: 13px;
        background: $_ffffff;
        border: 1px solid $_bfbfbf;
        border-radius: 25px;
        color: rgba($color: $_000000, $alpha: 0.87);
        box-shadow: 0 0 0 0 transparent inset;
        &:focus::placeholder {
          color: transparent;
        }
        &:focus::-moz-placeholder {
          color: transparent;
        }
        &:focus:-moz-placeholder {
          color: transparent;
        }
      }
      svg {
        position: absolute;
        inset-inline-start: 8px;
        top: 10px;
        cursor: pointer;
      }
    }
    .items {
      transition: 0.25s;
      cursor: pointer;
      padding: 10px;
      border-bottom: 1px solid $_f9f9f9;
      text-transform: capitalize;
      &:hover {
        padding-inline-start: 15px;
        background-color: $_f9f9f9;
      }
      &:last-child {
        border-color: transparent;
      }
      .colorBox {
        border-radius: 4px;
        width: 100%;
        height: 20px;
        display: inline-block;
        border: 1px solid $_eeeeee;
      }
    }
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $_f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $_c6c6c6;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $_555555;
    }
  }
}
