.Loading {
  margin: auto;
  display: block;
  width: 21px;
  height: 21px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  animation: spinner 1s linear  infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
