@import '../../../styles/colors';
.button {
  font-family: inherit;
  color: $_ffffff;
  background-color: $_3fa6da;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  border-radius: 4px;
  border: none;
  padding: 8px 21px;
  border: 1px solid $_3fa6da;
  transition: 0.25s all;
  cursor: pointer;
  text-transform: capitalize;
  &:hover {
    background-color: $_1e7cab;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
