@import '../../styles/colors';

@mixin PStyle {
  color: $_ec7f00;
  font-size: 14px;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
}

.container {
  z-index: 9999;
  position: fixed;
  background-color: $_fff8ef;
  width: 100%;
  right: 0;
  bottom: 0%;
  padding: 16px;
  direction: rtl;
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    svg {
      margin-inline-end: 8px;
    }
    p {
      margin-bottom: 10px;
      @include PStyle;
      span {
        color: $_ec7f00;
        font-weight: 500;
      }
    }
  }
  .retry {
    @include PStyle;
    color: $_3fa6da;
    cursor: pointer;
    text-align: left;
    margin-top: 16px;
    svg {
      display: inline-block;
      vertical-align: middle;
      margin-inline-end: 6px;
    }
  }
}
