.add_car_form_container {
  max-width: 68rem;
}
.pageTitle {
  position: relative;
  .car_icon {
    margin: 1rem;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
  }
  h3 {
    font-size: 1.8rem;
    display: inline-block;
    vertical-align: middle;
  }
}

.add_car_form_step_1 {
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-size: 1.4rem;
  border-radius: 4px;
  padding: 1.6rem;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.19);
  .DropDown_container,
  .radio_father {
    margin: 0 0 1.6rem;
  }
  p {
    margin: 0.4rem 0 1.6rem 0;
  }
  .DropDown_container label,
  label {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    display: block;
  }
  .add_car_Facilities_label {
    margin-bottom: 1.6rem;
  }
  .transition_type_Label {
    display: block;
    margin-bottom: 0.8rem;
  }
  .Car_info_step_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    .DropDown_container {
      margin: 0 0.8rem 1.6rem;
      &:first-child {
        margin: 0 0rem 1.6rem 0.8rem;
      }
      &:last-child {
        margin: 0 0.8rem 1.6rem 0rem;
      }
    }
  }
  .value_container {
    position: relative;
    .clean_icon {
      left: 63px;
      top: 39px;
    }
    input {
      text-align: left;
      text-indent: 7.5rem;
      direction: ltr;
    }
    span {
      position: absolute;
      top: 4.2rem;
      left: 2rem;
      font-weight: 500;
    }
  }
  .pelak_container {
    position: relative;
    .pelak_input {
      position: absolute;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      width: 300px;
      top: 0;
      right: 0;
      .pelak_input_box_controller {
        position: relative;
        .Fourth_part_pelak {
          position: absolute;
          top: 15px;
          right: 10px;
          input {
            height: 39px;
            text-align: center;
          }
        }
        .Third_part_pelak {
          position: absolute;
          top: 3px;
          right: 83px;
          input {
            padding: 0;
            text-align: center;
            height: 51px;
          }
        }
        .Second_part_pelak {
          position: absolute;
          top: 24px;
          right: 144px;
          width: 5rem;
          input {
            height: 51px;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
        .First_part_pelak {
          position: absolute;
          width: 5rem;
          left: 45px;
          top: 3px;
          input {
            padding: 0;
            text-align: center;
            height: 51px;
          }
        }
        .text_input_container {
          position: absolute;
          label {
            color: transparent;
          }
          width: 5rem;
        }
      }
    }
  }
  .text_area_step_1 {
    min-height: 15rem;
    width: 100%;
    font-family: inherit;
    margin: 0.3rem auto 0.5rem;
    display: block;
    outline: 0;
    -webkit-appearance: none;
    line-height: 2;
    padding: 0.5rem;
    font-size: 1.4rem;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.4rem;
    box-shadow: 0 0 0 0 transparent inset;
    box-sizing: border-box;
  }
}
