@import "../../../styles/units";
@import "../../../styles/colors";

.add_car_form_container {
  max-width: 680px;
  .add_car_form_step_1 {
    margin-top: $padding_top;
    background: $_fdfdfd;
    border: 1px solid $_bfbfbf;
    font-size: 14px;
    border-radius: 4px;
    padding: 16px;
    border: none;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    .pageTitle {
      position: relative;
      .car_icon {
        margin: 10px;
        margin-right: 0;
        display: inline-block;
        vertical-align: middle;
        width: 33px;
      }
      h3 {
        font-weight: 500;
        color: $_c06daa;
        font-size: 18px;
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .DropDown_container,
    .radio_father,
    .text_input_container {
      margin: 0 0 30px;
    }
    .car_location_district {
      margin: 0 0 30px;
      .DropDown_container {
        margin: 0 0 0;
      }
    }
    .DropDown_container {
      .input_wrapper {
        input {
          height: 50px;
        }
        .ArrowDown {
          top: 16px;
        }
      }
    }
    .radio_father {
      .radio_container {
        .container {
          font-weight: 300;
          .checkmark {
            border: 1px solid rgba(34, 36, 38, 0.15);
            &::after {
              top: 5px;
              left: 5px;
            }
          }
        }
      }
    }
    .facilities_container {
      background-color: $_fafafa;
      margin-bottom: 30px;
      position: relative;
      .check_box_container {
        padding: 10px;
        .container {
          margin-bottom: 22px;
          font-weight: 400;
          color: $_313131;
        }
      }
      .gradient_transparent {
        height: 130px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background: rgb(250, 250, 250);
        background: linear-gradient(
          0deg,
          rgba(250, 250, 250, 1) 0%,
          rgba(250, 250, 250, 0.95) 65%,
          rgba(255, 255, 255, 0.1) 100%
        );
      }
      .show_partial_facilities {
        height: 200px;
        overflow: hidden;
      }
      .show_more_facilities_button {
        width: 140px;
        border: 1px solid $_3fa6da;
        border-radius: 25px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 35px;
        margin: auto;
        cursor: pointer;
        color: $_3fa6da;
        padding: 8px 30px 8px 0;
        svg {
          width: 20px;
          position: absolute;
          left: 10px; 
        }
      }
    }
    .extra_text {
      margin: 4px 0 16px 0;
      font-size: 14px;
      color: $_313131;
      line-height: 27px;
    }
    .form_title {
      border-bottom: 1px solid;
      border-bottom: 1px solid $_c06daa;
      padding-bottom: 10px;
      margin-top: 0;
      display: inline-block;
      padding-left: 16px;
      margin-bottom: 40px;
    }
    .DropDown_container label,
    label {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 8px;
      display: block;
      span {
        color: $_bfbfbf;
      }
    }
    .add_car_Facilities_label {
      margin-bottom: 8px;
    }
    .Step1_checkoout_placeholder {
      .CheckBox_Loader_placeHolder {
        margin-bottom: 20px !important;
        display: inline-block;
      }
    }
    .transition_type_Label {
      display: block;
      margin-bottom: 8px;
    }
    .Car_info_step_1 {
      display: flex;
      justify-content: center;
      align-items: center;
      .DropDown_container {
        margin: 0 8px 30px;
        &:first-child {
          margin: 0 0 30px 8px;
        }
        &:last-child {
          margin: 0 8px 30px 0;
        }
      }
    }
    .value_container {
      position: relative;
      .input_surround {
        width: 50%;
        .clean_icon {
          display: none;
        }
        input {
          text-align: left;
          text-indent: 10px;
          direction: ltr;
        }
      }
    }
    .pelak_container {
      position: relative;
      margin-bottom: 30px;
      .license_palte_container {
        position: relative;
        .license_error {
          background: rgba(216, 48, 48, 0.1) !important;
        }
        .pelak_input {
          position: absolute;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          width: 300px;
          top: 0;
          right: 0;
          .pelak_input_box_controller {
            position: relative;
            .Fourth_part_pelak {
              position: absolute;
              top: -3px;
              right: 10px;
              input {
                height: 39px;
                text-align: center;
              }
            }
            .Third_part_pelak {
              position: absolute;
              top: -17px;
              right: 83px;
              input {
                padding: 0;
                text-align: center;
                height: 51px;
              }
            }
            .Second_part_pelak {
              position: absolute;
              top: 4px;
              right: 144px;
              width: 50px;
              input {
                height: 51px;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
              }
              .resultList {
                .Items {
                  padding: 10px 0;
                }
              }
            }
            .First_part_pelak {
              position: absolute;
              width: 50px;
              left: 45px;
              top: -17px;
              input {
                padding: 0;
                text-align: center;
                height: 51px;
              }
            }
            .text_input_container {
              position: absolute;
              label {
                color: transparent;
              }
              width: 50px;
            }
          }
        }
      }
    }
    .colorPicker_container {
      width: 240px;
      .DropDown_container {
        .Locations_list_container {
          p {
            font-size: 0;
          }
        }
      }
    }
    .step_one_under_label_descripe {
      margin-bottom: 15px;
      font-size: 14px;
      margin-top: 8px;
      line-height: 27px;
      color: $_313131;
    }
    .text_area_step_1 {
      min-height: 150px;
      width: 100%;
      font-family: inherit;
      margin: 3px auto 30px;
      display: block;
      outline: 0;
      -webkit-appearance: none;
      line-height: 2;
      padding: 5px;
      font-size: 14px;
      background: transparent;
      border: 1px solid $_bfbfbf;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 4px;
      box-shadow: 0 0 0 0 transparent inset;
      box-sizing: border-box;
      &:focus {
        background-color: $_ffffff;
      }
    }
    .local_style {
      display: block;
      width: 100%;
      line-height: 1.5;
      font-size: 16px;
      padding: 16px 21px;
    }
  }
}

.add_car_form_container[dir="ltr"] {
  .add_car_form_step_1 {
    .radio_father {
      .radio_container {
        .container {
          .checkmark {
            &::after {
              top: 5px;
              left: auto;
              right: 5px;
            }
          }
        }
      }
    }
    .facilities_container {
      .show_more_facilities_button {
        padding: 8px 0 8px 30px;
        svg {
          left: auto;
          right: 10px;
        }
      }
    }
    .form_title {
      padding-left: 0;
      padding-right: 16px;
    }
    .pelak_container {
      .license_palte_container {
        position: relative;
        .pelak_input {
          width: 300px;
          top: 0;
          right: auto;
          left: 0;
          .pelak_input_box_controller {
            .Fourth_part_pelak {
              right: 60px;
            }
            .Third_part_pelak {
              right: 134px;
            }
            .Second_part_pelak {
              right: 144px;
            }
            .First_part_pelak {
              left: 45px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:720px) {
  .add_car_form_container {
    max-width: 680px;
    .add_car_form_step_1 {
      box-shadow: none;
      padding: 0;
      background-color: transparent;
      .DropDown_container,
      .radio_father,
      .text_input_container {
        margin: 0 0 30px;
      }
      .car_location_district {
        margin: 0 0 30px;
        .DropDown_container {
          margin: 0 0 0;
        }
      }
      .Car_info_step_1 {
        display: block;
        .DropDown_container {
          margin: 0 0 30px !important;
        }
      }
    }
  }
}

@media screen and(max-width:575px) {
  .add_car_form_container {
    .add_car_form_step_1 {
      .value_container {
        .input_surround {
          width: 170px;
        }
      }
      .facilities_container {
        .check_box_container {
          .container {
            width: 50%;
            font-weight: 400;
          }
        }
      }
    }
  }
}
@media screen and(max-width:480px) {
  .add_car_form_container {
    .add_car_form_step_1 {
      .pelak_container {
        .license_palte_container {
          text-align: center;
          .pelak_input {
            position: absolute;
            width: 240px;
            top: 0;
            right: 0;
            left: 0;
            margin: auto;
            .pelak_input_box_controller {
              position: relative;
              .Fourth_part_pelak {
                top: -7px;
                right: 8px;
                input {
                  height: 30px;
                  font-size: 16px;
                }
              }
              .Third_part_pelak {
                top: -19px;
                right: 65px;
                input {
                  height: 42px;
                  font-size: 16px;
                }
              }
              .Second_part_pelak {
                top: 2px;
                right: 112px;
                width: 50px;
                input {
                  height: 42px;
                  font-size: 16px;
                  font-weight: 500;
                }
              }
              .First_part_pelak {
                width: 50px;
                left: 21px;
                top: -19px;
                input {
                  height: 42px;
                }
              }
              .text_input_container {
                position: absolute;
                label {
                  color: transparent;
                }
                width: 40px;
              }
            }
          }
          img {
            margin: auto;
            display: block;
            height: 52px !important;
          }
        }
      }
    }
  }
}
