@import '../../../../styles/colors';

.modal_box_div {
  width: 100%;
  .rate_to_owner_car {
    text-align: center;
    img {
      max-width: 180px;
      max-height: 70px;
      border-radius: 4px;
    }
    h3 {
      font-weight: 500;
      font-size: 16px;
      margin: 0;
    }
    p {
      font-size: 12px;
      margin-bottom: 5px;
    }
    .star-ratings {
      direction: ltr;
      display: block !important;
      svg {
        width: 20px;
      }
    }
    label {
      text-align: right;
      font-size: 14px;
      width: 100%;
      display: block;
      margin-top: 5px;
    }
    textarea {
      box-sizing: border-box;
      width: 100%;
      margin-top: 5px;
      padding: 14px;
      height: 80px;
      border-radius: 4px;
      border: 1px solid $_bfbfbf;
      font-family: inherit;
    }
    .rate_buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      align-items: center;
      .submit_submit {
        display: block;
        width: 48%;
      }
      .cancel_submit {
        display: block;
        width: 48%;
        background-color: transparent;
        color: $_3fa6da;
        border: 1px solid $_3fa6da;
      }
    }
  }
}

[dir='ltr'] .modal_box_div {
  .rate_to_owner_car {
    label {
      text-align: left;
    }
  }
}
