@use "../../../styles/variables" as var;
@import "../../../styles/colors";

.car_card_Loading_profile { 
  width: 49%;
  height: 300px;
  background: $_ffffff;
  border-radius: 4px;
  margin: 0 0 2% 0;
  box-shadow: var.$boxShadow;
  direction: rtl;
  figure {
    position: relative;
    height: 200px;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .info_box {
    position: relative;
    padding: 0 8px;
    .car_brand {
      margin-bottom: 0;
      width: 180px;
      margin-top: 20px;
      height: 20px;
      display: inline-block;
    }
  }
  .price {
    box-shadow: var.$boxShadow;
    left: 8px;
    text-align: center;
    width: 85px;
    height: 80px;
    border-radius: 4px;
    padding: 5px;
    margin: 0px auto;
    top: -40px;
    position: absolute;
  }
  .tags_container {
    margin-top: 12px;
    li {
      width: 120px;
      height: 10px;
      margin-left: 10px;
      display: inline-block;
    }
  }
}

@media screen and(max-width:480px) {
  .car_card_Loading_profile {
    width: 100%;
    margin: 0 0 20px;
  }
}
