@import "../../styles/colors";

.counter_container {
  *::selection {
    background-color: transparent;
  }
  .counter_box {
    margin-bottom: 30px;
    .counter {
      display: inline-block;
      vertical-align: middle;
      p {
        display: inline-block;
        vertical-align: middle;
        width: 48px;
        text-align: center;
        margin: 0 10px;
        border: 1px solid $_bfbfbf;
        border-radius: 4px;
        line-height: 2.2;
        cursor: default;
      }
      svg {
        cursor: pointer;
        background-color: rgba($_3fa6da, 0.07);
        padding: 7px;
        border-radius: 4px;
        width: 16px;
        height: 16px;
        border: 1px solid $_3fa6da;
        color: $_3fa6da;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .text_tail {
      vertical-align: middle;
      height: 100%;
      display: inline-block;
      align-items: center;
      color: $_707070;
      background-color: $_fafafa;
      padding: 9px 1px;
      border-radius: 4px;
      white-space: nowrap;
      margin-right: 8px;
    }
  }
}

@media screen and(max-width:557px) {
  .counter_container {
    *::selection {
      background-color: transparent;
    }
    .counter_box {
      text-align: center;
      .counter {
        display: block;
      }
      .text_tail {
        display: inline-block;
        margin-right: 0;
        margin-top:8px;
      }
    }
  }
}
