@import "../../../styles/colors";

.text_input_container {
  width: 100%;
  display: block;
  position: relative;
  .text_input_label {
    color: $Main_black_Text_Color;
    text-align: right;
    font-family: inherit;
    font-size: 1.4rem;
  }
  .text_input {
    font-family: inherit;
    margin: 1rem auto;
    display: block;
    width: 100%;
    outline: 0;
    -webkit-appearance: none;
    line-height: 1.5;
    padding: 1rem;
    font-size: 1.4em;
    background: #fff;
    border: 1px solid $input_border;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.4rem;
    box-shadow: 0 0 0 0 transparent inset;
    &:invalid {
      border: 1px solid #d83030 !important;
      background: rgba(216, 48, 48, 0.1) !important;
    }
  }
  .clean_icon {
    position: absolute;
    left: 10px;
    top: 36px;
  }
  .input_error_message {
    font-size: 1.2rem;
    color: $Error_text_color;
  }
}
