.pelak_view_container {
  width: 300px;
  position: relative;
  .forth {
    position: absolute;
    top: 15px;
    right: 14px;
    font-size: 18px;
  }
  .third {
    position: absolute;
    top: 9px;
    right: 55px;
    font-size: 20px;
  }
  .second {
    position: absolute;
    top: 6px;
    right: 106px;
    font-size: 23px;
  }
  .first {
    position: absolute;
    width: 50px;
    left: 106px;
    top: 9px;
    font-size: 20px;
  }
}
