@use '../../../styles/variables' as var;
@import '../../../styles/colors';

.Top_Rent_date {
  display: none;
}
// .slider_portion {
//   transition: all 0.25s linear;
// }
.Car_page_container {
  margin-top: 10px;
  position: relative;
  z-index: 2;
  display: flex;
  // z-index: 100;
  justify-content: space-between;
  align-items: self-start;
  background-color: $_fefefe;
  .carInfo_container {
    box-shadow: var.$boxShadow;
    background: $_ffffff;
    padding: 24px;
    width: 63%;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    font-size: 14px;
    .first_section_carpage {
      position: relative;
    }
    .price_place_holder {
      display: none;
      // position: absolute;
      background: $_ffffff;
      top: 0;
      text-align: center;
      left: 10px;
      width: 106px;
      height: 90px;
      padding-top: 35px;
    }
    .avg_discounted_price_per_day {
      display: none;
      .discount_part {
        .percentage {
          padding: 04px;
          background-color: $_ec7f00;
          font-size: 14px;
          line-height: 14px;
        }
        .discount_price {
          color: $_525252;
          text-decoration: line-through;
          font-size: 18px;
          vertical-align: middle;
        }
        .normal_price {
          font-weight: 500;
          font-size: 20px;
          line-height: 16px;
          color: $_313131;
          text-align: center;
          margin-bottom: 6px;
        }
      }
      span {
        color: $_313131;
        line-height: 0.7;
      }
    }
    h1 {
      font-size: 22px;
      line-height: 22px;
      line-height: unset;
      margin: 0 0;
      // span {
      //   color: $_313131;
      //   font-size: 1.40px;
      //   line-height: 1.40px;
      //   display: inline-block;
      //   vertical-align: middle;
      //   color: $_525252;
      //   margin-right: 0.60px;
      // }
      .year_of_build {
        color: $_525252;
        font-size: 16px;
        margin-right: 4px;
        display: inline-block;
        vertical-align: middle;
      }
      .rate_container {
        margin-top: 14px;
        img {
          display: inline-block;
          vertical-align: middle;
          margin-left: 4px;
        }
        span {
          display: inline-block;
          font-size: 14px;
          line-height: 14px;
          font-weight: 500;
          color: $_116b98;
          .sum_rent {
            color: $_808080;
            font-weight: normal;
          }
        }
      }
    }
    .separate_info {
      margin-top: 24px;
      direction: rtl;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .owner_name_carinfo {
      font-size: 12px;
      line-height: 12px;
      color: $_525252;
      margin-bottom: 24px;
    }
    .driver_and_verified {
      direction: rtl;
    }
    .driver_container {
      margin-bottom: 16px;
      span {
        display: inline-block;
      }
    }
    .isverified_container {
      display: inline-block;
      img {
        margin-left: 4px;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        display: inline-block;
        color: $_525252;
      }
    }
    // h4 {
    //   margin-top: 0;
    //   font-weight: 400;
    // }
    .calender_section_mobile_view {
      display: none;
      // h2 {
      //   margin: 0;
      //   margin-bottom: 1.60px;
      //   line-height: unset;
      //   img {
      //     margin-left: 0.90px;
      //     display: inline-block;
      //     vertical-align: middle;
      //   }
      //   span {
      //     display: inline-block;
      //     font-family: danabold;
      //     font-size: 1.40px;
      //     line-height: 1.40px;
      //   }
      // }
      .Rent_date {
        text-align: right;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        padding-right: 24px;
        p {
          line-height: normal;
          svg {
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
            width: 20px;
            margin: 0 4px;
          }
          .day_name {
            line-height: 14px;
            display: inline-block;
            vertical-align: middle;
          }
        }
        .change_date_in_car_page {
          cursor: pointer;
          color: $_3fa6da;
        }
      }
      .search_box_div {
        display: none;
        .PushToRight {
          .DatePicker__calendarContainer {
            // transform: translateX(-20%) !important;
            right: 0%;
            left: auto;
            transform: translateX(0) !important;
            // border: 1px solid rgba(34, 36, 38, 0.15);
            // border-radius: 4px;
            // border-top-right-radius: 0px;
            // box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
          }
        }
        .PushToLeft {
          .DatePicker__calendarContainer {
            // transform: translateX(-80%) !important;
            left: 0%;
            transform: translateX(0) !important;
            // border: 1px solid rgba(34, 36, 38, 0.15);
            // border-radius: 4px;
            // box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
            // border-top-left-radius: 0px;
          }
        }
        .date_Input_Container {
          display: flex;
          position: relative;
          .input_container {
            position: relative;
            width: 100%;
            .label {
              font-size: 12px;
              text-align: right;
            }
            input {
              font-family: inherit;
              margin: 3px auto;
              display: block;
              width: 100%;
              outline: 0;
              -webkit-appearance: none;
              line-height: 1.5;
              border: 1px solid $_bfbfbf;
              border-left: 0px solid $_bfbfbf;
              border-radius: 4px;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              padding: 9px;
              font-size: 14px;
              background: $_ffffff;
              color: rgba(0, 0, 0, 0.87);
              box-shadow: 0 0 0 0 transparent inset;
              &.activeBorder {
                border-color: $_3fa6da;
                border-left: 1px solid $_3fa6da;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
              }
            }
            .exception_input {
              border: 1px solid $_bfbfbf;
              border-left: 1px solid $_bfbfbf;
              border-right: 1px solid $_bfbfbf;
              border-radius: 4px;
              border-top-left-radius: 4px;
              border-top-right-radius: 0px;
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 0px;
            }
            span {
              position: absolute;
              font-size: 10px;
              color: firebrick;
              font-weight: 500;
            }
          }
          .DatePicker {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            input {
              cursor: pointer;
              opacity: 0;
              text-align: right;
              padding: 9px;
              font-family: inherit;
              margin: 3px auto 5px;
              display: block;
              width: 100%;
              height: 100%;
              outline: 0;
              -webkit-appearance: none;
              line-height: 1;
              font-size: 14px;
              background: $_ffffff;
              border: 1px solid $_bfbfbf;
              color: rgba(0, 0, 0, 0.87);
              border-radius: 4px;
              box-shadow: 0 0 0 0 transparent inset;
            }
          }
          .Calendar {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border: 1px solid rgba(34, 36, 38, 0.15);
            box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
          }
          .DatePicker__calendarArrow {
            display: none;
          }
          .DatePicker__calendarContainer {
            top: 96%;
          }
        }
      }
    }
    .car_delivery {
      p {
        font-size: 16px;
      line-height: normal;
      }
    }
    .distance_limitation,
    .distance_limitation_penalty,
    .hour_limitation_penalty {
      font-size: 16px;
      line-height: 14px;
    }
    h2 {
      margin: 0;
      margin-bottom: 16px;
      line-height: unset;
      svg {
        margin-left: 9px;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        display: inline-block;
        font-family: "danaXV", "dana";
        font-size: 16px;
        line-height: 14px;
      }
    }
    p,
    pre,
    span {
      font-family: inherit;
      display: block;
    }
    pre {
      white-space: pre-line;
      font-size: 16px;
      line-height: normal;
    }
    hr {
      border-width: 1px;
      margin-top: 24px;
      margin-bottom: 24px;
      border-bottom-width: 0;
      border-color: rgba(34, 36, 38, 0.1);
    }
    .info_container {
      width: 300px;
      border: 1px solid $_e5e5e5;
      p:last-child {
        border-bottom-color: transparent !important;
      }
      .alignThem {
        padding: 10px;
        border-bottom: 1px solid $_e5e5e5;
        background-color: $_fafafa;
        &:nth-child(even) {
          background-color: $_f4f4f4;
        }
        .info_name {
          font-weight: 500;
          width: 90px;
          line-height: 14px;
          font-size: 16px;
          display: inline-block;
          vertical-align: middle;
        }
        .info_value {
          line-height: 14px;
          font-size: 16px;
          display: inline-block;
          padding-right: 10px;
          vertical-align: middle;
        }
      }
    }
    .facilities_container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      p {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        margin-bottom: 16px;
        text-align: center;
        margin-left: 8px;
      }
    }
    .car_Tags {
      cursor: pointer;
      display: inline-block;
      color: $_3fa6da;
      border: none;
      padding: 2px 25px;
      text-indent: -14px;
      margin: 0 6px;
      font-size: 12px;
      font-weight: 500;
      svg {
        vertical-align: middle;
        margin-left: 4px;
        width: 16px;
      }
    }
  }
  .onwnerInfo_container {
    display: inline-block;
    width: 34%;
    background: $_ffffff;
    border-radius: 4px;
    padding: 24px;
    box-shadow: var.$boxShadow;
    position: relative;
    .price_place_holder {
      height: 87px;
      padding-top: 30px;
    }
    .avg_discounted_price_per_day {
      .discount_part {
        text-align: center;
        margin-bottom: 8px;
        .percentage {
          border-radius: 5px;
          margin-right: 4px;
          display: inline-block;
          width: auto;
          color: $_fefefe;
          vertical-align: middle;
          padding: 4px;
          background-color: $_ec7f00;
          font-size: 14px;
          line-height: 14px;
        }
        .discount_price {
          color: $_525252;
          display: inline-block;
          text-decoration: line-through;
          vertical-align: middle;
          font-size: 18px;
        }
        .normal_price {
          font-weight: 500;
          font-size: 30px;
          color: $_313131;
          line-height: 26px;
          text-align: center;
          margin-bottom: 6px;
        }
      }
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 6px;
      }
      span.unit_name {
        font-size: 16px;
      }
      span {
        font-size: 14px;
        display: block;
        color: $_525252;
        text-align: center;
        line-height: 14px;
      }
      .unit_name {
        font-family: "danaXV", "dana";
      }
    }
    .search_box_div {
      text-align: center;
      margin-top: 25px;
      // .DatePicker {
      //   input {
      //     border-radius: 4px;
      //     opacity: 0;
      //   }
      // }
      .date_Input_Container {
        display: flex;
        position: relative;
        .input_container {
          position: relative;
          width: 100%;
          .label {
            font-size: 12px;
            text-align: right;
          }
          input {
            font-family: inherit;
            margin: 3px auto;
            display: block;
            width: 100%;
            outline: 0;
            -webkit-appearance: none;
            line-height: 1.5;
            border: 1px solid $_bfbfbf;
            border-left: 0px solid $_bfbfbf;
            border-radius: 4px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            padding: 9px;
            font-size: 14px;
            background: $_ffffff;
            color: rgba(0, 0, 0, 0.87);
            box-shadow: 0 0 0 0 transparent inset;
            &.activeBorder {
              border-width: 1px;
              border-color: $_3fa6da;
              border-left: 1px solid $_3fa6da;
              border-bottom-right-radius: 0px;
              border-bottom-left-radius: 0px;
              box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
            }
          }
          .exception_input {
            border: 1px solid $_bfbfbf;
            border-left: 1px solid $_bfbfbf;
            border-right: 1px solid $_bfbfbf;
            border-radius: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 0px;
          }
          span {
            position: absolute;
            font-size: 10px;
            color: firebrick;
            font-weight: 500;
          }
        }
        .DatePicker {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          input {
            cursor: pointer;
            opacity: 0;
            text-align: right;
            padding: 9px;
            font-family: inherit;
            margin: 3px auto 5px;
            display: block;
            width: 100%;
            height: 100%;
            outline: 0;
            -webkit-appearance: none;
            line-height: 1;
            font-size: 14px;
            background: $_ffffff;
            border: 1px solid $_bfbfbf;
            color: rgba(0, 0, 0, 0.87);
            border-radius: 4px;
            box-shadow: 0 0 0 0 transparent inset;
          }
          .Calendar {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border: 1px solid rgba(34, 36, 38, 0.15);
            box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
          }
          .DatePicker__calendarArrow {
            display: none;
          }
          .DatePicker__calendarContainer {
            top: 96%;
          }
        }
      }
    }
    .profile_anchor_tag_container {
      margin-bottom: 16px;
      margin-top: 24px;
      display: flex;
      align-items: flex-start;
    }
    .Rent_date {
      text-align: right;
      font-weight: 500;
      margin-top: 48px;
      margin-bottom: 48px;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 14px;
        svg {
          display: inline-block;
          vertical-align: middle;
          font-size: 13px;
          width: 20px;
        }
        .day_name {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .change_date_in_car_page {
        cursor: pointer;
        color: $_3fa6da;
      }
    }
    .owner_part {
      display: inline-block;
      vertical-align: middle;
      .owner_part_avatar_container {
        .user_avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
        }
        p {
          margin-top: 8px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          font-size: 14px;
          img {
            display: inline-block;
            vertical-align: top;
            margin-left: 4px;
            width: 15px;
          }
        }
      }
    }
    .owner_info {
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
      .owner_name {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
      }
      .since_from {
        margin-top: 16px;
        font-size: 14px;
        line-height: 14px;
      }
      span {
        display: inline-block;
        margin-top: 16px;
        font-size: 14px;
        line-height: 14px;
      }
    }
    .go_to_profile {
      display: none;
      position: absolute;
      top: 45%;
      left: 16px;
      p {
        color: $_3fa6da;
        font-size: 13px;
        line-height: 13px;
        position: relative;
        padding-left: 9px;
        &::before {
          content: '';
          clear: both;
          display: block;
          position: absolute;
          border: none;
          border-left: 2px solid $_3fa6da;
          border-bottom: 2px solid $_3fa6da;
          height: 5px;
          width: 5px;
          transform: rotate(45deg);
          top: 3px;
          left: 0;
        }
      }
    }
    .localClass {
      display: block;
      width: 100%;
      margin-bottom: 16px;
    }
    .extra_info {
      font-size: 10px;
      margin-bottom: 8px;
      line-height: 1.5;
      text-align: center;
      display: block;
    }
  }
}

.Car_page_container[dir='ltr'] {
  .carInfo_container {
    .price_place_holder {
      left: auto;
      right: 10px;
    }
    h1 {
      .year_of_build {
        margin-right: 0;
        margin-left: 4px;
      }
      .rate_container {
        img {
          margin-left: 0;
          margin-right: 4px;
        }
      }
    }
    .separate_info {
      direction: ltr;
    }
    .driver_and_verified {
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .isverified_container {
      img {
        margin-left: 0;
        margin-right: 4px;
      }
      span {
        direction: ltr;
      }
    }
    .calender_section_mobile_view {
      .Rent_date {
        text-align: left;
        padding-right: 0;
        padding-left: 24px;
        p {
          line-height: normal;
          svg {
            transform: rotateY(180deg);
          }
        }
      }
      .search_box_div {
        // .PushToRight {
        //   .DatePicker__calendarContainer {
        //     right: 0%;
        //     left: auto;
        //     transform: translateX(0) !important;
        //   }
        // }
        // .PushToLeft {
        //   .DatePicker__calendarContainer {
        //     left: 0%;
        //     transform: translateX(0) !important;
        //   }
        // }
        .date_Input_Container {
          .input_container {
            input {
              border: 1px solid $_bfbfbf;
              border-left: 1px solid $_bfbfbf;
              border-right: 0px solid $_bfbfbf;
              border-radius: 4px;
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
              &.activeBorder {
                border-color: $_3fa6da;
                border-left: 1px solid $_3fa6da;
                border-right: 1px solid $_3fa6da;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
              }
            }
            .exception_input {
              border: 1px solid $_bfbfbf;
              border-left: 1px solid $_bfbfbf;
              border-right: 1px solid $_bfbfbf;
              border-radius: 4px;
              border-top-left-radius: 0px;
              border-top-right-radius: 4px;
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 4px;
            }
          }
          .DatePicker {
            left: auto;
            right: 0;
            input {
              text-align: left;
            }
          }
        }
      }
    }
    h2 {
      img {
        margin-left: 0;
        margin-right: 9px;
      }
    }
    .info_container {
      .alignThem {
        .info_value {
          padding-right: 0;
          padding-left: 10px;
        }
      }
    }
    .facilities_container {
      p {
        margin-left: 0;
        margin-right: 8px;
      }
    }
    .car_Tags {
      svg {
        margin-left: 0;
        margin-right: 4px;
      }
    }
  }
  .onwnerInfo_container {
    .avg_discounted_price_per_day {
      .discount_part {
        .percentage {
          margin-right: 0;
          margin-left: 4px;
        }
      }
    }
    .search_box_div {
      .date_Input_Container {
        .input_container {
          .label {
            font-size: 12px;
          }
          input {
            border-left: 1px solid $_bfbfbf;
            border-right: 0px solid $_bfbfbf;
            border-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            &.activeBorder {
              border-left: 1px solid $_3fa6da;
              border-right: 1px solid $_3fa6da;
              border-bottom-right-radius: 0px;
              border-bottom-left-radius: 0px;
              box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
            }
          }
          .exception_input {
            border-left: 1px solid $_bfbfbf;
            border-right: 1px solid $_bfbfbf;
            border-radius: 4px;
            border-top-left-radius: 0px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 4px;
          }
        }
        .DatePicker {
          left: auto;
          right: 0;
        }
      }
    }
    .Rent_date {
      text-align: left;
      p {
        svg {
          transform: rotateY(180deg);
        }
      }
    }
    .owner_part {
      .owner_part_avatar_container {
        p {
          img {
            margin-left: 0;
            margin-right: 4px;
          }
        }
      }
    }
    .owner_info {
      margin-right: 0;
      margin-left: 8px;
    }
    .go_to_profile {
      left: auto;
      right: 16px;
      p {
        padding-left: 0;
        padding-right: 9px;
        &::before {
          border-left: 2px solid $_3fa6da;
          border-bottom: 2px solid $_3fa6da;
          height: 5px;
          width: 5px;
          transform: rotate(225deg);
          left: auto;
          right: 0;
        }
      }
    }
    .continue_to_checkout {
      right: auto;
      right: 0;
      .extra_info {
        margin-left: 0;
        margin-right: 10px;
      }
    }
  }
}

@media screen and(max-width:1024px) {
  .Car_page_container {
    .onwnerInfo_container {
      .Rent_date {
        p {
          .day_name {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and(max-width:720px) {
  .Top_Rent_date {
    display: block;
    background: $_a3678b;
    text-align: center;
    padding: 5px 0;
    p {
      font-weight: 500;
      font-size: 14px;
      color: $_ffffff;
      line-height: normal;
    }
  }
  .Car_page_container {
    margin-top: 0;
    position: relative;
    padding: 0;
    z-index: 2;
    display: block;
    .carInfo_container {
      width: 100%;
      display: block;
      position: relative;
      padding: 16px;
      border-radius: 0;
      box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
      h1 {
        .year_of_build {
          font-size: 14px;
        }
        .rate_container {
          span {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
      .driver_container {
        span {
          font-size: 14px;
        }
      }
      .price_place_holder {
        display: block;
      }
      h2 {
        span {
          font-size: 14px;
        }
      }
      .car_delivery {
        p {
          font-size: 14px;
          line-height: normal;
        }
      }
      pre {
        font-size: 14px;
      }
      .distance_limitation,
      .distance_limitation_penalty,
      .hour_limitation_penalty {
        font-size: 14px;
      }
      .facilities_container {
        p {
          font-size: 14px;
        }
      }
      .calender_section_mobile_view {
        display: block;
        .search_box_div {
          display: block;
        }
      }
      .avg_discounted_price_per_day {
        display: block;
        // float: left;
        background: $_ffffff;
        // top: 20%;
        text-align: center;
        // left: 0;
        border-radius: 4px;
        .discount_part {
          text-align: left;
          margin-bottom: 8px;
          .percentage {
            border-radius: 5px;
            margin-right: 4px;
            display: inline-block;
            width: auto;
            color: $_fefefe;
            vertical-align: middle;
            padding: 4px;
            background-color: $_ec7f00;
            font-size: 14px;
            line-height: 14px;
          }
          .discount_price {
            color: $_525252;
            display: inline-block;
            text-decoration: line-through;
            font-size: 18px;
          }
        }
        p {
          font-size: 20px;
          line-height: 16px;
          margin-bottom: 6px;
          text-align: left;
        }
        .unit_name {
          font-family: "danaXV", "dana";
          font-size: 12px;
          text-align: left;
        }
      }
      .info_container {
        .alignThem {
          .info_value {
            width: 140px;
            font-size: 14px;
          }
          .info_name {
            font-size: 14px;
          }
        }
      }
      // .facilities_container {
      //   display: flex;
      //   justify-content: flex-start;
      //   align-items: center;
      //   flex-wrap: wrap;
      //   p {
      //     color: rgb(101, 101, 101);
      //     border: none;
      //     background: rgb(230, 230, 230);
      //     width: 126px;
      //     border-radius: 4px;
      //     text-align: center;
      //     padding: 0.20px 0.50px;
      //     margin: 6px;
      //     font-size: 1.20px;
      //     font-weight: 500;
      //   }
      // }
      .car_Tags {
        cursor: pointer;
        display: inline-block;
        color: $_3fa6da;
        border: none;
        padding: 2px 25px;
        text-indent: -14px;
        margin: 0 6px;
        font-size: 12px;
        font-weight: 500;
        svg {
          vertical-align: middle;
          margin-left: 4px;
        }
      }
    }
    .onwnerInfo_container {
      width: 100%;
      margin-top: 8px;
      border-radius: 0;
      padding: 16px;
      padding-top: 16px;
      .avg_discounted_price_per_day {
        display: none;
        p {
          font-weight: 500;
          font-size: 28px;
          text-align: center;
        }
        span.unit_name {
          font-size: 14px;
        }
        span {
          font-size: 12px;
          display: block;
          text-align: center;
          line-height: 1.5;
        }
      }
      .Rent_date {
        display: none;
      }
      .search_box_div {
        display: none;
      }
      .profile_anchor_tag_container {
        margin-bottom: 0;
      }
      // .owner_part {
      //   margin-top: 20px;
      //   margin-bottom: 20px;
      //   img {
      //     width: 5.40px;
      //     border-radius: 4px;
      //     display: inline-block;
      //     vertical-align: middle;
      //   }
      //   p {
      //     display: inline-block;
      //     margin-right: 1.40px;
      //     font-size: 1.40px;
      //     font-weight: 500;
      //   }
      // }
      .go_to_profile {
        display: block;
      }
      .continue_to_checkout {
        z-index: 5;
        position: fixed;
        box-shadow: rgb(204, 204, 204) 0px -1px 3px;
        width: 100%;
        bottom: 0px;
        left: 0;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $_ffffff;
        .localClass {
          max-width: 180px;
          margin: 0;
        }
        .extra_info {
          margin-left: 10px;
          font-size: 11px;
          text-align: justify;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and(max-width:480px) {
  .Car_page_container {
    .carInfo_container {
      .calender_section_mobile_view {
        .Rent_date {
          .day_name {
            display: none;
          }
        }
      }
    }
  }
}
