@import "../../../../styles/colors";

.modal_box_div {
  width: 100%;
  form {
    width: 100%;
    .error_message {
      color: $_d83030;
      font-size: 12px;
    }
    .modal_content_confirm_delete {
      font-size: 14px;
      margin-bottom: 30px;
      margin-top: 10px;
    }
    .button_container {
      display: flex;
      justify-content: center;
      align-items: center;
      .Blue_BTN {
        border: 2px solid $_3fa6da;
        padding: 5px 30px;
        width: 103px;
        margin: 0 10px;
      }
      .cancel_btn {
        background-color: $_ffffff;
        color: $_3fa6da;
      }
    }
  }
}
