@import '../../../styles/colors';
.Discount_form_container {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 20px;
  .add_new_one {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    margin-top: 16px;
    p {
      color: $_3fa6da;
      font-size: 14px;
      display: inline-block;
      border: 1px solid $_3fa6da;
      border-radius: 4px;
      padding-right: 10px;
      svg {
        padding: 5px;
        display: inline-block;
        vertical-align: middle;
        background-color: rgba($_3fa6da, 0.07);
        margin-right: 8px;
        width: 20px;
        border-radius: 4px 0 0 4px;
      }
    }
  }
  .Discount_Controller {
    display: block;
    margin-top: 16px;
    max-width: 320px;
    padding: 16px;
    border: 1px solid $_bfbfbf;
    border-radius: 4px;
    .DropDown_container,
    .text_input_container {
      margin-bottom: 5px;
    }
    .containers {
      width: 100%;
      margin-left: 0;
      margin-bottom: 10px;
      .input_error_message {
        font-size: 12px;
        color: $_d83030;
      }
      label {
        margin-bottom: 10px;
      }
    }
    .button_box {
      justify-content: flex-start;
      align-items: center;
      display: flex;
      margin-top: 16px;
      p {
        padding: 0 14px;
        cursor: pointer;
      }
      .Trash_icon_in_price_cart {
        margin: auto;
        margin-left: 0;
        cursor: pointer;
        width: 20px;
      }
    }
    .tail {
      position: relative;
      span {
        position: absolute;
        top: 32px;
        left: 10px;
        font-size: 20px;
        color: $_313131;
      }
      input {
        text-indent: 50px;
        height: 42px;
        margin: 3px 0 5px 0;
        direction: ltr;
      }
      svg {
        left: 33px;
      }
    }
  }
  .Discount_list {
    .discount_item_container {
      display: block;
      .discount_item {
        border: 1px solid $_bfbfbf;
        padding: 12px;
        margin-top: 20px;
        display: inline-block;
        border-radius: 4px;
        width: auto;
        p {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
        }
        span {
          display: inline-block;
          margin-left: 10px;
          font-size: 12px;
          color: $_313131;
          padding-right: 20px;
          cursor: pointer;
          svg {
            width: 20px;
          }
        }
      }
    }
  }
}

.Discount_form_container[dir='ltr'] {
  .add_new_one {
    position: absolute;
    right: auto;
    left: 0;
    p {
      padding-right: 0;
      padding-left: 10px;
      svg {
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }
  .Discount_Controller {
    .containers {
      margin-right: 0;
    }
    .button_box {
      .Trash_icon_in_price_cart {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .tail {
      svg {
        left: auto;
        right: 33px;
      }
    }
  }
  .Discount_list {
    .discount_item_container {
      .discount_item {
        p {
          margin-left: 0;
          margin-right: 10px;
        }
        span {
          margin-left: 0;
          margin-right: 10px;
          padding-right: 0;
          padding-left: 20px;
        }
      }
    }
  }
}
