@import "../../../styles/colors";
.Price_form_container {
  margin-bottom: 2rem;
  .add_new_one {
    cursor: pointer;
    margin-top: 1.6rem;
    p {
      color: $main__color;
      font-size: 1.4rem;
      display: inline-block;
      border: 1px solid $main__color;
      border-radius: 4px;
      padding-left: 2rem;
      svg {
        padding: 0.5rem;
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, 0.05);
        margin-left: 1rem;
      }
    }
  }
  .Discount_Controller {
    display: block;
    margin-top: 1.6rem;
    max-width: 32rem;
    padding: 1.6rem;
    border: 1px solid $input_border;
    border-radius: 4px;
    .DropDown_container,
    .text_input_container {
      margin-bottom: 0.5rem;
    }
    .containers {
      width: 100%;
      margin-left: 0;
      .input_error_message {
        font-size: 1.2rem;
        color: $Error_text_color;
      }
    }
    .button_box {
      justify-content: space-evenly;
      align-items: center;
      display: flex;
      margin-top: 1.6rem;
      p {
        padding: 0 1.4rem;
        cursor: pointer;
      }
    }
    .tail {
      position: relative;
      span {
        position: absolute;
        top: 3.2rem;
        left: 1rem;
        font-size: 2rem;
        color: $grey_color;
      }
      input {
        text-indent: 5rem;
        height: 42px;
        margin: 3px 0 5px 0;
        direction: ltr;
      }
      svg {
        position: absolute;
        left: 33px;
        top: 30px;
      }
    }
  }
  .Discount_list {
    .discount_item_container {
      display: block;
      .discount_item {
        border: 1px solid $input_border;
        padding: 1.2rem;
        margin-top: 2rem;
        display: inline-block;
        border-radius: 4px;
        width: auto;
        p {
          display: inline-block;
          vertical-align: middle;
          margin-left: 1rem;
        }
        span {
          display: inline-block;
          margin-left: 1rem;
          font-size: 1.2rem;
          padding: 0 0.5rem;
        }
      }
    }
  }
}
