@use "../../styles/variables" as var;
@import "../../styles/colors";

.Please_login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .modal_box {
    box-shadow: var.$boxShadow;
    width: 45%;
    min-width: 300px;
    height: auto;
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $_ffffff;
    padding: 20px;
    margin: 0px auto;
    border-radius: 4px;
    text-align: right;
    flex-direction: column;

    .text_input_container {
      padding-bottom: 30px;
      position: relative;
      .login_submit {
        display: block;
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}
