@use "../variables" as var;
@import "../colors";
.contract_container {
  width: 190px;
  .download_section {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: $_fefefe;
    box-shadow: var.$boxShadow;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    right: 0;
    left: 0;
    padding: 8px 16px;
    .download_contract {
      width: 126px;
    }
  }
  .content {
    h1 {
      text-align: center;
      font-size: 10px;
      margin: 0;
    }
    h2 {
      text-align: center;
      font-size: 7px;
      margin: 0;
    }
    #contract_date {
      margin-top: 20px;
    }
    #contract_date,
    #contract_number {
      text-align: left;
    }
    #contract_number {
      margin-bottom: 20px;
    }
    p {
      line-height: 2;
      font-size: 14px;
    }
    .signature {
      padding: 30px 0;
      span {
        &:first-child {
          text-align: center;
          display: inline-block;
          width: 50%;
          font-size: 14px;
          font-weight: bold;
        }
        &:last-child {
          text-align: center;
          display: inline-block;
          width: 50%;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}
