@import '../colors';

.failed_payment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .alarm_container {
    margin-bottom: 50px;
    text-align: center;
    svg {
      width: 100px;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      color: $_c06daa;
    }
  }
  .local_style {
    width: 150px;
  }
}
