@use '../variables' as var;
@import '../colors';
@import '../units';

.FAQ_Page {
  background-color: $_ffffff;
  box-shadow: var.$boxShadow;
  padding: 16px;
  border-radius: 4px;
  margin-top: $padding_top;
  h1 {
    font-size: 22px;
    margin: 0;
  }
  .FQ_WRAPPER {
    margin-bottom: 50px;
    border-radius: 4px;
    border: 1px solid $_cccccc;
    background: $_ffffff;
    h2 {
      font-size: 20px;
      padding: 15px;
    }
  }
  .load_content {
    span {
      margin-top: 20px;
      display: inline-block;
      vertical-align: middle;
      padding-right: 10px;
    }
  }
}

.FAQ_Page[dir='ltr'] {
  .load_content {
    span {
      padding-right: 0;
      padding-left: 10px;
    }
  }
}
