@use "../variables" as var;
@import "../colors";
.Homepage {
  .banner {
    height: 90vh;
    background-image: url("/image/main_banner.jpg");
    background-position: right center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    h1 {
      color: $_ffffff;
      font-size: 40px;
      font-weight: 900;
      width: 100%;
      margin: 0;
      text-align: center;
      text-shadow: var.$textShadow;
      padding-top: 14vh;
      line-height: 1.7;
    }
    h2 {
      text-shadow: var.$textShadow;
      font-weight: 300;
      width: 100%;
      color: $_ffffff;
      font-size: 21px;
      line-height: 1.5;
      margin: 0px 0px 26px;
      text-align: center;
    }
    .search_container {
      width: 100%;
      background-color: $_ffffff;
      border-radius: 4px;
      padding: 32px;
    }
  }

  .third_container {
    box-shadow: var.$boxShadow;
    background-color: $_ffffff;
    margin-top: 30px;
    padding: 15px;
    .RentPage_Dynamic_links {
      ul {
        column-count: 3;
        margin: 8px 0px;
        li {
          a {
            line-height: 1.5;
            font-weight: 500;
            transition: 0.25s;
            font-size: 14px;
            color: $_3fa6da;
            display: block;
            &:hover {
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:1024px) {
  .Homepage {
    .banner {
      padding: 35px 16px 140px;
    }
  }
}

@media screen and(max-width:720px) {
  .Homepage {
    .banner {
      height: auto;
      display: block;
      background-position: left;
      h1 {
        margin: 0;
        padding-top: 0vh;
        font-size: 25px;
      }
      h2 {
        font-size: 14px;
      }
      .search_container {
        padding: 12px;
      }
    }
  }
}

@media screen and(max-width:480px) {
  .second_container {
    overflow: hidden;
  }
}
