@use '../variables' as var;
@import '../colors';
.join_us {
  .banner {
    height: 90vh;
    background-image: url('/image/parking.jpg');
    background-position: right center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    h1 {
      color: $_ffffff;
      font-size: 45px;
      font-weight: 900;
      width: 100%;
      margin: 0;
      text-align: center;
      text-shadow: var.$textShadow;
    }
    h2 {
      text-shadow: 0px 2px 5px black;
      font-weight: 400;
      width: 100%;
      color: $_ffffff;
      font-size: 21px;
      line-height: 1.5;
      margin: 10px 0px 26px;
      text-align: center;
    }
    .addCarnow {
      text-align: center;
      .addCar_bottom_joinus_b {
        background-color: $_c06daa;
        border: 1px solid $_c06daa;
        margin: auto;
        width: 280px;
        display: inline-block;
        margin-bottom: 10px;
        box-shadow: var.$boxShadow;
      }
      p {
        color: $_ffffff;
        text-shadow: var.$textShadow;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .calculator_container {
      width: 100%;
      background-color: $_ffffff;
      border-radius: 4px;
      padding: 32px;
      h2 {
        text-align: right;
        display: block;
        text-shadow: none;
        color: $_313131;
        font-weight: 500;
      }
      p {
        font-size: 14px;
        text-align: right;
      }
      form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .calculator_dropDown {
          position: relative;
          .error_Field {
            position: absolute;
            margin-top: 3px;
            color: $_d83030;
            font-weight: 500;
            font-size: 10px;
          }
        }
        .calculator_dropDown,
        .value_container,
        .local_Button_joinUs {
          width: 24%;
        }
        .value_container {
          .text_input_container {
            .text_input {
              margin: 0;
            }
            .input_error_message {
              position: absolute;
              font-weight: 500;
              font-size: 10px;
              bottom: -15px;
            }
          }
          position: relative;
          span {
            position: absolute;
            left: 10px;
            top: 17px;
            font-size: 12px;
          }
          .clean_icon {
            left: 38px;
          }
        }
      }
      .CalculatorResult {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .eachSvgBox {
          width: 200px;
          margin-top: -20px;
          position: relative;
          h3.CalcH3 {
            text-align: center;
            position: absolute;
            padding-top: 60px;
            width: 100%;
            font-size: 20px;
            letter-spacing: 1.5px;
          }
          p {
            letter-spacing: 0px;
            text-align: center;
          }
          .UnderText {
            text-align: center;
            margin-top: -20px;
          }
        }
      }
      .addCarnowInlanding {
        margin-top: 30px;
        text-align: center;
        margin-bottom: -20px;
        .addCar_top_joinus_a {
          background-color: $_c06daa;
          border: 1px solid $_c06daa;
        }
      }
      .tryAgainCalc {
        text-align: left;
        color: $_3fa6da;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
  .second_container {
    .three_columns {
      margin-bottom: 50px;
    }
    .add_car_section {
      .add_car_custom {
        margin-bottom: 0;
      }
    }
  }
}

.join_us[dir='ltr'] {
  .banner {
    .calculator_container {
      h2 {
        text-align: left;
      }
      p {
        text-align: left;
      }
      form {
        .value_container {
          span {
            left: auto;
            right: 10px;
            top: 28px;
          }
          .clean_icon {
            left: auto;
            right: 38px;
          }
        }
      }
    }
  }
}

@media screen and(max-width:1024px) {
  .join_us {
    .banner {
      padding: 35px 15px 140px;
    }
  }
}

@media screen and(max-width:768px) {
  .join_us {
    .banner {
      height: auto;
      display: block;
      background-position: left;
      h1 {
        margin: 0;
        font-size: 25px;
      }
      h2 {
        font-size: 14px;
      }
      .calculator_container {
        padding: 12px;
        form {
          display: block;
          .calculator_dropDown {
            .error_Field {
              bottom: -14px;
            }
          }
          .calculator_dropDown,
          .value_container,
          .local_Button_joinUs {
            width: 100%;
            margin-bottom: 20px;
          }
        }
        .CalculatorResult {
          flex-direction: column-reverse;
          .eachSvgBox {
            margin-top: 10px;
            h3.CalcH3 {
              text-align: center;
              position: absolute;
              padding-top: 60px;
              width: 100%;
              font-size: 20px;
            }
            .UnderText {
              text-align: center;
              margin-top: -20px;
            }
          }
        }
        .addCarnowInlanding {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and(max-width:480px) {
  .join_us {
    .banner {
      h1 {
        margin: 0;
        font-size: 20px;
      }
    }
  }
}
