@use '../../styles/newStyles/variables' as var;
@import '../../styles/colors';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  .boxContainer {
    min-width: 285px;
    max-width: 400px;
    width: 50%;
    box-shadow: var.$boxShadow;
    border-radius: 4px;
    padding: 20px;
    background: $_ffffff;
  }
}
