@import "../colors";

.OTILI {
  direction: ltr;
  text-align: right;
  min-height: 400px;
}
.OTILI h1 {
  text-align: center;
  font-size: 30px;
  margin: 0 auto 60px;
  line-height: 2;
}
.OTILI h2 {
  color: $purple;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}
.OTILI h3 {
  font-weight: 500;
}
h2.diff_color {
  color: $blue;
}
.OTILI p {
  line-height: 2;
  text-align: justify;
  direction: rtl;
}

.PartOne_OTOLI {
  position: relative;
}
.PartOne_OTOLI:after {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  right: 0;
  left: 0;
  margin: auto;
  width: 14px;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.partOne_OTOLI_D1 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 24px;
}
.D1_Left div {
  direction: rtl;
  position: relative;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid $blue;
  margin-bottom: 60px;
}
.D1_Left div:nth-of-type(1) {
  margin-top: 30px;
  margin-bottom: 66px;
}
.D1_Left div:nth-of-type(1):before {
  content: " ";
  position: absolute;
  top: 21px;
  right: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $blue;
}
.D1_Left div:nth-of-type(1):after {
  content: " ";
  position: absolute;
  top: 19px;
  left: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent $blue;
}
// ************div:nth-of-type(2)
.D1_Left div:nth-of-type(2):before {
  content: " ";
  position: absolute;
  top: 53px;
  right: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $blue;
}
.D1_Left div:nth-of-type(2):after {
  content: " ";
  position: absolute;
  top: 50px;
  left: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent $blue;
}

// ************div:nth-of-type(3)
.D1_Left div:nth-of-type(3):before {
  content: " ";
  position: absolute;
  top: 83px;
  right: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $blue;
}
.D1_Left div:nth-of-type(3):after {
  content: " ";
  position: absolute;
  top: 80px;
  left: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent $blue;
}

// ************div:nth-of-type(4)
.D1_Left div:nth-of-type(4):before {
  content: " ";
  position: absolute;
  top: 23px;
  right: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $blue;
}
.D1_Left div:nth-of-type(4):after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent $blue;
}

// ************div:nth-of-type(5)
.D1_Left div:nth-of-type(5):before {
  content: " ";
  position: absolute;
  top: 53px;
  right: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $blue;
}
.D1_Left div:nth-of-type(5):after {
  content: " ";
  position: absolute;
  top: 50px;
  left: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent $blue;
}

// ************div:nth-of-type(6)
.D1_Left div:nth-of-type(6):before {
  content: " ";
  position: absolute;
  top: 83px;
  right: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $blue;
}
.D1_Left div:nth-of-type(6):after {
  content: " ";
  position: absolute;
  top: 80px;
  left: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent $blue;
}

// **********RIGHT
.D1_Right div {
  direction: rtl;
  position: relative;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid $purple;
  margin-bottom: 59px;
  margin-top: 15px;
}
.PartOne_OTOLI:nth-of-type(1) .D1_Right div:nth-of-type(2) {
  margin-top: 60px;
  margin-bottom: 221px;
}
.PartOne_OTOLI:nth-of-type(2) .D1_Right div:nth-of-type(1) {
  margin-top: 80px;
  margin-bottom: 60px;
}
.PartOne_OTOLI:nth-of-type(3) .D1_Left div:nth-of-type(1) {
  margin-top: 30px;
  margin-bottom: 60px;
}
.PartOne_OTOLI:nth-of-type(4) .D1_Left div:nth-of-type(1) {
  margin-top: 10px;
  margin-bottom: 60px;
}
.PartOne_OTOLI:nth-of-type(4) .D1_Right div:nth-of-type(1) {
  margin-top: 40px;
  margin-bottom: 60px;
}
.D1_Right div:nth-of-type(1):before {
  content: " ";
  position: absolute;
  top: 20px;
  left: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $purple;
}
.D1_Right div:nth-of-type(1):after {
  content: " ";
  position: absolute;
  top: 19px;
  right: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent $purple transparent transparent;
}

// ************div:nth-of-type(2)

.D1_Right div:nth-of-type(2):before {
  content: " ";
  position: absolute;
  top: 52px;
  left: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $purple;
}
.D1_Right div:nth-of-type(2):after {
  content: " ";
  position: absolute;
  top: 50px;
  right: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent $purple transparent transparent;
}

// ************div:nth-of-type(3)

.D1_Right div:nth-of-type(3):before {
  content: " ";
  position: absolute;
  top: 72px;
  left: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $purple;
}
.D1_Right div:nth-of-type(3):after {
  content: " ";
  position: absolute;
  top: 70px;
  right: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent $purple transparent transparent;
}

// ************div:nth-of-type(4)

.D1_Right div:nth-of-type(4):before {
  content: " ";
  position: absolute;
  top: 12px;
  left: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $purple;
}
.D1_Right div:nth-of-type(4):after {
  content: " ";
  position: absolute;
  top: 10px;
  right: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent $purple transparent transparent;
}

// ************div:nth-of-type(5)

.D1_Right div:nth-of-type(5):before {
  content: " ";
  position: absolute;
  top: 72px;
  left: -31px;
  z-index: 3;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: $purple;
}
.D1_Right div:nth-of-type(5):after {
  content: " ";
  position: absolute;
  top: 70px;
  right: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent $purple transparent transparent;
}

.OTOLI_MIDDLE_Dif {
  font-size: 22px !important;
  width: 179px;
  margin: auto;
  padding: 10px;
  border: 2px solid #e1e1e1;
  color: #bfbfbf !important;
}

@media (max-width: 768px) {
  .OTILI {
    padding: 0px 15px;
  }
}

@media (max-width: 575px) {
  .PartOne_OTOLI:nth-of-type(1) .D1_Right div:nth-of-type(2) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .partOne_OTOLI_D1 {
    display: block;
    vertical-align: top;
    width: 100%;
    padding: 24px;
  }
  .PartOne_OTOLI:after {
    display: none;
  }
  .D1_Left div:nth-of-type(1) {
    margin-bottom: 18px;
  }
  .D1_Left div {
    margin-bottom: 18px;
  }
  .D1_Left div:before {
    display: none;
  }
  .D1_Left div:after {
    top: auto !important;
    bottom: -16px;
    left: 50%;
    right: 50%;
    margin: auto;
    margin-top: -5px;
    border-color: $blue transparent transparent transparent !important;
  }
  .D1_Left div:last-child:after,
  .D1_Right div:last-child:after {
    display: none;
  }

  .D1_Right div:nth-of-type(1) {
    margin-top: 30px;
    margin-bottom: 18px;
  }
  .D1_Right div {
    margin-bottom: 18px;
  }
  .D1_Right div:before {
    display: none;
  }
  .D1_Right div:after {
    top: auto !important;
    bottom: -16px;
    left: 50%;
    right: 50% !important;
    margin: auto;
    margin-top: -5px;
    border-color: $purple transparent transparent transparent !important;
  }
}
