@use "../variables" as var;
@import "../colors";
@import "../units";

.static_pages {
  text-align: justify;
  background-color: $_fdfdfd;
  box-shadow: var.$boxShadow;
  margin-top: $padding_top;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
  }
  h4 {
    font-weight: 400;
    font-size: 16px;
  }
  p {
    font-size: 14px;
    line-height: 2;
  }
  .intends {
    padding-right: 50px !important;
  }
  ul {
    list-style-type: arabic-indic;
    list-style-position: inside;
    li {
      font-size: 14px;
      line-height: 2;
      margin-bottom: 8px;
    }
  }
  a {
    color: $_3fa6da;
    font-weight: 500;
    text-decoration: underline;
  }
  .indentation {
    padding-right: 16px;
  }
  .call_numbers {
    text-decoration: none;
    font-size: 14px;
  }
  .map-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 24px;
    @media screen and(max-width:720px) {
      iframe {
        width: 100%;
      }
    }
  }
}

.site_map_page {
  ul {
    column-count: 3;
    a {
      color: $_3fa6da;
    }
  }
}
