@import '../colors';
.local_payment {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  .payment_cart {
    max-width: 68rem;
    margin: auto;
    margin-top: 50px;
    .title {
      text-align: center;
      img {
        width: 2rem;
        margin-left: 0.8rem;
        display: inline-block;
        vertical-align: middle;
      }
      h4 {
        display: inline-block;
        font-family: 'dana_medium';
        vertical-align: middle;
        font-size: 2.4rem;
        color: $_528751;
        line-height: 1.6rem;
        margin: 0;
      }
      margin-bottom: 1.2rem;
    }
    .bank_track_id {
      text-align: center;
      p {
        display: block;
        color: $_525252;
        font-size: 1.6rem;
        line-height: 1.4rem;
      }
    }
    .details_section {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 4.8rem;
      border-bottom: 1px solid $_f4f4f4;
      padding-bottom: 2.4rem;
      .reserve_information {
        text-align: right;
        .section_title {
          img {
            margin-left: 1.2rem;
            vertical-align: middle;
          }
          p {
            display: inline-block;
            color: $_313131;
            font-family: 'dana_medium';
            font-size: 16px;
            line-height: 14px;
          }
        }
        .car_info {
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2.4rem;
            p {
              padding-left: 5rem;
            }
            p,
            span {
              font-size: 16px;
              line-height: 14px;
              color: $_313131;
            }
          }
        }
      }
      .paid_price {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2.4rem;
        p {
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          line-height: 14px;
        }
        div {
          display: inline-block;
          h3 {
            display: inline-block;
            font-size: 20px;
            margin-right: 1.6rem;
            line-height: 22px;
          }
          span {
            margin-right: 0.4rem;
            display: inline-block;
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
      .figure_section {
        img {
          width: 328px;
          border-radius: 5px;
        }
      }
    }
    .delivery_section {
      text-align: right;
      .section_title {
        margin-top: 4.8rem;
        img {
          margin-left: 1.2rem;
          vertical-align: middle;
        }
        p {
          display: inline-block;
          color: $_313131;
          font-family: 'dana_medium';
          font-size: 16px;
          line-height: 14px;
        }
      }
      .delivery_condition {
        p {
          font-size: 16px;
          line-height: 14px;
          padding-right: 2.4rem;
        }
      }
    }
    .return_section {
      text-align: right;
      .section_title {
        margin-top: 4.8rem;
        img {
          margin-left: 1.2rem;
          vertical-align: middle;
        }
        p {
          display: inline-block;
          color: $_313131;
          font-family: 'dana_medium';
          font-size: 16px;
          line-height: 14px;
        }
      }
      .return_condition {
        p {
          font-size: 16px;
          line-height: 28px;
          padding-right: 2.4rem;
          span {
            font-weight: 600;
          }
        }
      }
    }

    .contract_section {
      margin-bottom: 2.4rem;
      text-align: right;
      .section_title {
        margin-top: 4.8rem;
        img {
          margin-left: 1.2rem;
          vertical-align: middle;
        }
        p {
          display: inline-block;
          color: $_313131;
          font-family: 'dana_medium';
          font-size: 16px;
          line-height: 14px;
        }
      }
      .return_condition {
        p {
          font-size: 16px;
          line-height: 28px;
          padding-right: 2.4rem;
          span {
            font-weight: 600;
          }
        }
      }
    }
    // h3 {
    //   font-size: 1.4rem;
    // }
    // p {
    //   font-size: 1.4rem;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   line-height: 3;
    //   span {
    //     font-weight: 500;
    //   }
    // }
    // text-align: center;
    // border-radius: 4px;
    // background: #fff;
    // padding: 1.6rem;
  }
  .loading_text {
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    color: $_3fa6da;
  }
}

.local_payment[dir='ltr'] {
  .payment_cart {
    .title {
      img {
        margin-left: 0;
        margin-right: 0.8rem;
      }
    }

    .details_section {
      .reserve_information {
        text-align: left;
        .section_title {
          img {
            margin-left: 0;
            margin-right: 1.2rem;
          }
        }
        .car_info {
          padding-right: 0 !important;
          padding-left: 2.4rem;
          div {
            p {
              padding-left: 0;
              padding-right: 5rem;
            }
          }
        }
      }
      .paid_price {
        padding-right: 0;
        padding-left: 2.4rem;

        div {
          h3 {
            margin-right: 0;
            margin-left: 1.6rem;
          }
          span {
            margin-right: 0;
            margin-left: 0.4rem;
          }
        }
      }
    }
    .delivery_section {
      text-align: left;
      .section_title {
        img {
          margin-left: 0;
          margin-right: 1.2rem;
        }
      }
      .delivery_condition {
        p {
          padding-right: 0;
          padding-left: 2.4rem;
        }
      }
    }
    .return_section {
      text-align: left;
      .section_title {
        img {
          margin-left: 0;
          margin-right: 1.2rem;
        }
      }
      .return_condition {
        p {
          padding-right: 0;
          padding-left: 2.4rem;
        }
      }
    }

    .contract_section {
      text-align: left;
      .section_title {
        img {
          margin-left: 0;
          margin-right: 1.2rem;
        }
      }
      .return_condition {
        p {
          padding-right: 0;
          padding-left: 2.4rem;
        }
      }
    }
  }
}

@media screen and(max-width:768px) {
  .local_payment {
    .payment_cart {
      .title {
        h4 {
          font-size: 1.6rem;
        }
      }
      .bank_track_id {
        text-align: center;
        p {
          font-size: 1.4rem;
        }
      }
      .details_section {
        display: block;
        .reserve_information {
          text-align: right;
          .section_title {
            p {
              font-size: 14px;
            }
          }
          .car_info {
            div {
              p {
                padding-left: 0rem;
              }
            }
          }
        }
        .paid_price {
          text-align: center;
          display: block;
          text-align: center;
          p {
            font-size: 14px;
          }
          div {
            vertical-align: middle;
          }
        }
        .figure_section {
          display: none;
        }
      }
      .delivery_section {
        .section_title {
          p {
            font-size: 14px;
          }
        }
        .delivery_condition {
          p {
            line-height: 28px;
            font-size: 14px;
          }
        }
      }
      .return_section {
        text-align: right;
        .section_title {
          p {
            font-size: 14px;
          }
        }
        .return_condition {
          p {
            font-size: 14px;
          }
        }
      }

      .contract_section {
        .section_title {
          p {
            font-size: 14px;
          }
        }
        .return_condition {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
