@use '../../../styles/variables' as var;
@import '../../../styles/colors';

.Profile_info_container {
  min-width: 32%;
  background: $_ffffff;
  border-radius: 4px;
  padding: 14px;
  box-shadow: var.$boxShadow;
  margin-bottom: 20px;
  margin-left: 20px;
  .user_information {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .avatar_image {
      width: 48px;
      border-radius: 50%;
      margin-left: 10px;
      cursor: pointer;
    }
    .name_avatar__container {
      margin-left: 10px;
      cursor: pointer;
    }
    h3 {
      margin: 0;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      color: $_3fa6da;
      cursor: pointer;
      font-size: 12px;
    }
    .user_info {
      span,
      p {
        color: $_313131;
        font-size: 14px;
        line-height: normal;
        margin-top: 16px;
      }
    }
  }
  .profile_controls {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Exit {
      width: 50%;
      cursor: pointer;
      p {
        display: inline-block;
        color: $_3fa6da;
        font-size: 16px;
        vertical-align: middle;
      }
      svg {
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
        width: 20px;
      }
    }
  }
}

.Profile_info_container[dir='ltr'] {
  margin-left: 0;
  margin-right: 20px;
  .user_information {
    .avatar_image {
      margin-left: 0;
      margin-right: 10px;
    }
    .name_avatar__container {
      margin-left: 0;
      margin-right: 10px;
    }
  }
  .profile_controls {
    .Exit {
      svg {
        margin-left: 0;
        margin-right: 5px;
      }
    }
  }
}
@media screen and(max-width:960px) {
  .Profile_info_container {
    margin-left: 0;
  }
}
