// Background Colors
$page_background_color: #fefefe;
$main__color: #4ba3ce;
$second__color: #a3678b;
$header_background_color: #1f1f1f;

// Font colors
$White_Color: #fefefe;
$AnchorTag_Color: #4ba3ce;
$Main_black_Text_Color: #313131;
$grey_color: #737373;
$discount_color: #f7941d;

// Button
$background_color: #4ba3ce;
$background_hover: #1e7cab;

// Error
$Error_text_color: #d83030;

// INPUT BORDER COLOR
$input_border: rgba(34, 36, 38, 0.15);

// box shadow
$box_shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.06);

// text shadow
$text_shadow: 0px 1px 5px rgb(0, 0, 0);

// Toast
$progress_bar_color: #24bfb1;
$back_ground_color: #03a596;

// Discount badge
$orange: #f7941d;

// Scroll bar
$scrollbar_track: #f1f1f1;
$scrollbar_thumb: #c6c6c6;
$scrollbar_thumb_hovor: #555555;
