// Blue
$dark_blue: #116b98;
// $blue: #4ba3ce;
$blue: #3fa6da;
$light_blue: #9bd4f1;
$ultimate_blue: #ebf4fc;
$almost_blue: #eaf4f8;

// Purple
$dark_purple: #7a3b69;
// $purple: #a3678b;
$purple: #c06daa;
$light_purple: #e2b3d3;
$ultimate_purple: #faf5f9;
$almost_purple: #f4eef1;

// Orange
$dark_orange: #ec7f00;
// $orange: #f7941d;
$orange: #ed9026;
$light_orange: #f9c48f;
$ultimate_orange: #fff8ef;
$almost_orange: #fceddb;

// Green
$dark_green: #2a562a;
$green: #528751;
$light_green: #a2bea1;
$ultimate_green: #f0f7f4;

// Teal
$dark_teal: #14808e;
// $teal: #2cbbc2;
$teal: #37c4d7;
$light_teal: #9be1eb;
$ultimate_teal: #ebf9fb;
$almost_teal: #e7f6f7;

// Black
$black: #1f1f1f;
$almost_black: #313131;
$dark_gray: #666666;
$gray: #808080;
$light_grey: #bfbfbf;
$lighter_grey: #e5e5e5;
$ultimate_gray: #f4f4f4;
$almost_gray: #efefef; 
$more_gray: #707070;

// Whites
$white: #fefefe;
$almost_white: #fafafa;


// .....................
$link_hover: #1e7cab;

// Error
$Error_text_color: #d83030;

// box shadow
// $box_shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.06);
$box_shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);

// text shadow
$text_shadow: 0px 1px 5px rgb(0, 0, 0);

// Toast
$progress_bar_color: #24bfb1;
$back_ground_color: #03a596;

// Scroll bar
$scrollbar_track: #f1f1f1;
$scrollbar_thumb: #c6c6c6;
$scrollbar_thumb_hovor: #555555;
