$blue: #4ba3ce;
$link_hover: #1e7cab;
$purple: #a3678b;
$teal: #2cbbc2;
$orange: #f7941d;

// Whites
$white: #fefefe;
$almost_white: #fafafa;
// Grays
$light_grey: #dcdcdc;
$gray: #909090;
$more_gray: #707070;
$dark_gray: #313131;

// Blacks
$black: #1f1f1f;

// Error
$Error_text_color: #d83030;

// box shadow
$box_shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.06);

// text shadow
$text_shadow: 0px 1px 5px rgb(0, 0, 0);

// Toast
$progress_bar_color: #24bfb1;
$back_ground_color: #03a596;

// Scroll bar
$scrollbar_track: #f1f1f1;
$scrollbar_thumb: #c6c6c6;
$scrollbar_thumb_hovor: #555555;
