@font-face {
  font-family: 'iranSansXV';
  src: url('../../public/fonts/iranSans/iranSans.woff')
      format('woff-variations'),
    /* will be the standard and works in Safari now */
      url('../../public/fonts/iranSans/iranSans.woff2')
      format('woff2-variations');
  /* for the other supporting browsers */
  font-weight: 100 900;
  font-display: fallback;
}

@font-face {
  font-family: 'danaXV';
  src: url('../../public/fonts/dana/danaXV.woff')
      format('woff-variations'),
    /* will be the standard and works in Safari now */
      url('../../public/fonts/dana/danaXV.woff2')
      format('woff2-variations');
  /* for the other supporting browsers */
  font-weight: 100 900;
  font-display: fallback;
}

@font-face {
  font-family: iranSans;
  src: url('../../public/fonts/iranSans/iranSansRegular.woff')
    format('woff');
  font-weight: normal;
}
@font-face {
  font-family: iranSans;
  src: url('../../public/fonts/iranSans/iranSansBold.woff')
    format('woff');
  font-weight: 700;
}

@font-face {
  font-family: dana;
  src: url('../../public/fonts/dana/danaRegular.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: dana;
  src: url('../../public/fonts/dana/danaBold.woff') format('woff');
  font-weight: 700;
}
