// Shadows
// box shadow
$boxShadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);

// Sub Menu Box Shadow
$subMenuBoxShadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.176);

// text shadow
$textShadow: 0px 1px 5px rgb(0, 0, 0);
$boxShadowCarPageMobile: 0 2px 2px 1px rgb(0 0 0 / 10%);