@use './variables' as var;
@import './fonts';
@import './units';
@import './colors';

html,
body {
  height: 100%;
  line-height: 1;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: $_fefefe;
  font-family: 'iranSansXV', 'iranSans', 'danaXV', 'dana', tahoma;
}

html[lang='fa'] {
  direction: rtl;
  -moz-font-feature-settings: 'ss02';
  -webkit-font-feature-settings: 'ss02';
  font-feature-settings: 'ss02';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
  color: $_313131;
}
footer,
header {
  margin: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 2;
  margin: 6px auto;
}
p {
  line-height: 1.5;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// a
a {
  color: $_fefefe;
  text-decoration: none;
}

// strong
strong {
  font-weight: bold;
}

// MAIN
main {
  padding-bottom: 24px;
}

// INPUT
input {
  box-sizing: border-box;
  // margin: 8px auto;
}

.input_Error {
  border: 1px solid $_e0b4b4 !important;
  background: rgb(255, 246, 246) !important;
}

// Button

.Blue_BTN {
  color: $_ffffff;
  font-family: inherit;
  background-color: $_3fa6da;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  padding: 8px 21px;
  border: 1px solid $_3fa6da;
  transition: 0.25s all;
  cursor: pointer;
  text-transform: capitalize;
  &:hover {
    background-color: $_1e7cab;
  }
  &:focus {
    outline: none;
  }
}

// .Blue_BTN {
//   &:disabled {
//     background-color: $_bfbfbf;
//     border: 1px solid $_808080;
//     color: $_808080;
//     cursor: not-allowed;
//   }
// }
// Load more
.Load_more_car {
  display: flex;
  align-items: center;
  justify-content: ce;
  border: 1px solid $_dadada;
  position: relative;
  width: 250px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  padding: 13px 10px;
  svg {
    display: inline-block;
    right: 15px;
    position: absolute;
  }
}
.no_padding {
  padding: 10px;
}
// CONFIRM and CANCEL
.confirm {
  color: $_3fa6da;
  font-weight: bold;
  cursor: pointer;
  &::selection {
    background-color: transparent;
  }
}
.cancel {
  color: $_313131;
  cursor: pointer;
  &::selection {
    background-color: transparent;
  }
}

// ERROR
.inputError {
  border: 1px solid $_d83030 !important;
  background: rgba(216, 48, 48, 0.1) !important;
}

.Error_message_text {
  color: $_d83030;
  font-weight: 500;
  line-height: 2;
  font-size: 12px;
}

.second_part_container {
  box-shadow: var.$boxShadow;
  padding: 0 !important;
  @media screen and(max-width:1007px) {
    box-shadow: none;
  }
  // SHARE STYLE
  .marginFromTop {
    margin-top: 40px !important;
  }
  .insuranceBox {
    img {
      width: 115px;
      height: 47px;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      margin-bottom: 10px;
      text-align: center;
      color: $_313131;
    }
    width: 230px;
    margin: auto;
    display: block;
    padding: 10px;
    margin-top: -30px;
    background: $_ffffff;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 2;
    padding-right: 16px;
    padding-left: 16px;
  }
  .second_container {
    background-color: $_ffffff;
    // margin-top: -6.3rem;
    padding-top: 30px;
    padding-bottom: 15px;
    position: relative;
    h2 {
      font-size: 20px;
      padding-right: 16px;
      padding-left: 16px;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
    .full_width {
      margin-bottom: 24px;
      padding-right: 16px;
      padding-left: 16px;
    }
    .three_columns {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 24px;
      padding-right: 16px;
      padding-left: 16px;
      section {
        width: 30%;
        text-align: justify;
      }
    }
    .add_car_section {
      margin-bottom: 24px;
      text-align: center;
      a {
        color: $_3fa6da;
        font-size: 14px;
        display: block;
      }
      .add_car_custom {
        display: inline-block;
        padding: 11px 31px;
        color: $_ffffff;
        margin-bottom: 10px;
        background: $_c06daa;
        border: 1px solid $_c06daa;
      }
      .call_us {
        text-align: center;
        font-weight: 500;
        .TellPhone {
          display: inline-block;
        }
      }
    }
    .rent_contnet {
      padding-right: 16px;
      padding-left: 16px;
      text-align: right;
      h2 {
        padding: 0;
      }
    }
    .rent_contnet[dir='ltr'] {
      text-align: left;
    }
    @media (max-width: 720px) {
      h3 {
        margin-bottom: 0;
      }
      .three_columns {
        display: block;
        section {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}

// PWA Styles

.pwa_invitation_banner {
  padding: 5px 15px;
  direction: rtl;
  display: none;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  .pwa_content {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: $_ffffff;
    .logPwa {
      display: flex;
      margin-inline-end: 10px;
    }
    img {
      border-radius: 10px;
      width: 36px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .close_pwa_invitation {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 11px;
    color: $_ffffff;
    border-radius: 20px;
    padding: 3px 5px 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    // svg {
    //   display: inline-block;
    //   vertical-align: middle;
    // }
  }
  @media (max-width: 720px) {
    // position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    background: $_313131;
  }
}

.pwaLtr {
  direction: ltr;
  .pwa_content {
    img {
      margin-left: 0;
      margin-right: 10px;
    }
  }
  .close_pwa_invitation {
    padding: 3px 10px 3px 5px;
  }
}

// Captcha Badge
.grecaptcha-badge {
  display: none !important;
}

// temporary_score
.temporary_score {
  position: absolute;
  bottom: 0px;
  left: 0;
  color: rgba(255, 255, 255, 0.5);
}

.Error_color {
  color: $_d83030;
}

// Responsive
.minHeight {
  min-height: 500px;
}

[dir='ltr']
  .Calendar__day.-weekend:not(.-selected):not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
  color: $_000000;
}

.responsive {
  max-width: 1140px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 1200px) {
    max-width: 960px;
  }
  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

// 404 page
._404PageImage {
  display: block;
  padding-top: $padding_top;
  margin: auto;
  @media (max-width: 720px) {
    width: 100%;
  }
}
._404PageAnchor {
  text-align: center;
  display: block;
  width: 180px;
  margin: auto;
  margin-top: 10px;
}

// 500 Page
._500container {
  position: relative;
  span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
  }
  p {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    a {
      color: $_3fa6da;
    }
  }
}

.errorBounderies {
  min-height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
  }
  p {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    a {
      color: $_3fa6da;
    }
  }
}

.Calendar__day.-rtl.-selectedBetween {
  background: #038ed21c !important;
}

// Gradient Loader and animation

.Gradient {
  transition: 0.25s all;
  background: linear-gradient(90deg, $_f1f1f1, $_f1f1f1, $_e9e9e9, $_f1f1f1);
  background-size: 200% 200%;
  animation: Gradient 2s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Fade In and Out Animation
.FadeInOutAnimation {
  opacity: 1;
  animation: Fade 2s ease infinite;
}

@-webkit-keyframes Fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes Fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.iconContainer {
  display: block;
  svg {
    display: block;
  }
}
.padding_16 {
  padding: 16px;
}
.padding_right_24 {
  padding-right: 24px;
}
.padding_right_15 {
  padding-right: 15px;
}
.padding_left_15 {
  padding-left: 15px;
}

// margin
.margin_bottom_8 {
  margin-bottom: 8px;
}
.margin_right_8 {
  margin-right: 8px;
}
.margin_right_24 {
  margin-right: 24px;
}
.margin_bottom_16 {
  margin-bottom: 16px;
}
.margin_top_24 {
  margin-top: 24px;
}
.margin_top_16 {
  margin-top: 16px;
}
.margin_bottom_24 {
  margin-bottom: 24px;
}
.margin_bottom_12 {
  margin-bottom: 12px;
}
.margin_top_12 {
  margin-top: 12px;
}

.inline_block_container {
  display: inline-block;
}

.tag_class {
  padding: 6px;
  font-size: 14px;
  line-height: 14px;
  background-color: $_f4f4f4;
  color: $_525252;
  border: 1px solid $_e5e5e5;
  border-radius: 5px;
  display: inline-block;
}
.expired_order {
  margin-top: 30px;
  p {
    font-size: 16px;
    text-align: center;
  }
}

.size_14 {
  font-size: 14px;
  line-height: 14px;
}
.size_12 {
  font-size: 12px;
  line-height: 12px;
}

.dark_gray {
  color: $_525252;
}

.weight_500 {
  font-weight: 500;
}

// TEXT
.text_align_left {
  text-align: left;
}

// #NEW Styles
.actionButton {
  color: #fff;
  font-family: inherit;
  background-color: $_3fa6da;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  border-radius: 4px;
  padding: 8px 21px;
  border: 1px solid $_3fa6da;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  text-transform: capitalize;
}

.skeletonBackground {
  transition: 0.25s all;
  background: linear-gradient(90deg, #fafafa, #f9f9f9, #fafafa);
  background-size: 200% 200%;
  animation: gradientLoader 2s ease infinite;
}

@-webkit-keyframes gradientLoader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradientLoader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientLoader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// 3rd parties
// @import "react-modern-calendar-datepicker/lib/DatePicker.css";
// @import "nouislider/distribute/nouislider.css";

// Pages
@import './pages/index.module.scss';
@import './pages/Failed_payment.module.scss';
@import './pages/faq.module.scss';
@import './pages/join-us.module.scss';
@import './pages/otoli.module.scss';
@import './pages/search_result.module.scss';
@import './pages/static_pages.module.scss';
@import './pages/Success_payment.module.scss';
@import './pages/help_center.module.scss';

// Components
// Form
@import '../components/form/Dropdown/DropDown.module.scss';
@import '../components/form/Checkbox/Checkbox.module.scss';
@import '../components/form/Radio/radio.module.scss';
@import '../components/form/NumberSeparatedTextInput/NumberSeparatedTextInput.module.scss';
@import '../components/form/TextInput/inputStyle.module.scss';
@import '../components/Accordion/Accordion.module.scss';

// component
@import '../components/cartPlaceholder/CarLoading/car_cart.module.scss';

// Loaders
@import '../components/loaders/PriceSliderLoader/PriceSliderLoader.module.scss';

// Place holders
@import '../components/cartPlaceholder/carPageLoading/carPageLoading.module.scss';
@import '../components/cartPlaceholder/CarLoadingProfile/profile_car_cart.module.scss';
@import '../components/cartPlaceholder/checkoutLoading/checkoutLoading.module.scss';
@import '../components/cartPlaceholder/requestLoading/requestLoading.module.scss';
@import '../components/cartPlaceholder/checkBoxLoading/checkBoxLoading.module.scss';

@import '../components/Counter/Counter.module.scss';
@import '../components/Footer/footer.module.scss';
@import '../components/ImageUploader/ImageUploader.module.scss';
@import '../components/pelak/pelak.module.scss';
// @import '../components/Review/review.module.scss';
@import '../components/StarGenerator/starGenerator.module.scss';
@import '../components/Slider/slider.module.scss';
@import '../components/Slider/Gallery/Gallery.module.scss';
@import '../components/TabCreator/TabCreator.module.scss';
@import '../components/Toast/toast.module.scss';
@import '../components/InternetConnection/internetConnection.module.scss';

// Containers
@import '../containers/Add_car/Add_car.module.scss';
@import '../containers/Add_car/step_1/step_1.module.scss';
@import '../containers/car/carpage/carpage.module.scss';
@import '../containers/car/search-result/search_result.module.scss';
@import '../containers/car/search-result/car/car.module.scss';
@import '../containers/Checkout_Container/checkout.module.scss';
@import '../containers/Checkout_Container/insurance/insurance.module.scss';
@import '../containers/CompleteRegister/complete_register.module.scss';
@import '../containers/Filters/Filter.module.scss';
// Header
@import '../containers/header/header.module.scss';
// Modals
@import '../containers/header/modals/modal.module.scss';
@import '../containers/header/modals/Law/Law.module.scss';
@import '../containers/header/modals/Owner/Owner.module.scss';
@import '../containers/header/modals/Renter/Renter.module.scss';
@import '../containers/header/modals/Tell_me/Tell_me.module.scss';
@import '../containers/header/modals/ConfirmDelete/Confirm_delete.module.scss';
@import '../containers/header/modals/Assurance/Assurance_modal.module.scss';

@import '../containers/LandignPageContainer/Search_result.module.scss';
@import '../containers/LandignPageContainer/landingPageContent/landingPageContent.module.scss';
@import '../containers/Profile_container/Profile_container.module.scss';
@import '../containers/Profile_container/Profile_Cars/profile_car.module.scss';
@import '../containers/Profile_container/Profile_Cars/car/car.module.scss';
@import '../containers/Profile_container/Profile_info/profile_info.module.scss';
@import '../containers/Profile_container/Profile_info/Edit_profile/edit_profile.module.scss';
@import '../containers/Request_page/Requests_page.module.scss';
@import '../containers/Request_page/request_cart/request_cart.module.scss';
@import '../containers/Requests_page/Requests_page.module.scss';
@import '../containers/Requests_page/request_cart/request_cart.module.scss';
@import '../containers/Search/search.module.scss';
@import '../containers/Search_result/Search_result.module.scss';
@import '../containers/Set_car_timing/set_car.module.scss';
@import '../containers/Set_car_timing/step_2/step_2.module.scss';
@import '../containers/Set_car_timing/PriceBox/PriceBox.module.scss';
@import '../containers/Set_car_timing/DiscountBox/DiscountBox.module.scss';
@import '../containers/helpCenterContainer/helpCenterContainer.module.scss';

@import '../components/recommendation_section/recommendation_section.module.scss';
@import '../components/filters/PriceSlider/price_filter.module.scss';
@import '../components/profile/comment_section/comment_section.module.scss';
@import '../components/ImageUploader/ZoomSlider/ZoomSlider.module.scss';
@import '../components/calculator/Join_us_content/join_us_content.module.scss';
@import '../components/name_avatar/avatar-name.module.scss';
