@import "./units";
@import "./colors";
@import "./font";

html {
  direction: rtl;
  font-size: $font_size;
  font-family: $font_family_Farsi_Number;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
  color: $Main_black_Text_Color;
}
footer,
header {
  margin: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 2;
  margin: 0.6rem auto;
}
p {
  line-height: 1.5;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: $White_Color;
  text-decoration: none;
}

// MAIN
main {
  background-color: #fafafa;
}

// INPUT
input {
  box-sizing: border-box;
  margin: 0.8em auto;
}

.input_Error {
  border: 1px solid #e0b4b4;
  background: rgb(255, 246, 246) !important;
}

// Button

.Blue_BTN {
  color: #fff;
  font-family: inherit;
  background-color: $background_color;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  padding: 1.1rem 2.1rem;
  transition: 0.25s all;
  &:hover {
    background-color: $background_hover;
  }
}

// CONFIRM and CANCEL
.confirm {
  color: $main__color;
  font-weight: bold;
  cursor: pointer;
}
.cancel {
  color: $Error_text_color;
  cursor: pointer;
}

// ERROR
.inputError {
  border: 1px solid #d83030 !important;
  background: rgba(216, 48, 48, 0.1) !important;
}

.Error_color {
  color: $Error_text_color;
}

// Responsive

.responsive {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 54rem;
  }
  @media (min-width: 768px) {
    max-width: 72rem;
  }
  @media (min-width: 992px) {
    max-width: 96rem;
  }
  @media (min-width: 1200px) {
    max-width: 114rem;
  }
}
