.drop_zone {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 2rem;
  background-color: rgb(250, 250, 250);
  color: rgb(189, 189, 189);
  cursor: pointer;
  flex: 1 1 0%;
  padding: 2rem;
  border-width: 2px;
  border-color: rgb(238, 238, 238);
  border-style: dashed;
  outline: none;
  transition: border 0.24s ease-in-out 0s;
  border-radius: 0.4rem;
}
.Image_box {
  margin-bottom: 2rem;
  .Each_image {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.8rem;
    img{
      width: 10rem;
    }
    svg {
      cursor: pointer;
      position: absolute;
      top: 0.6rem;
      right: 0.6rem;
      background: #fff;
      border-radius: 4px;
    }
  }
}
