@import "../../styles/colors";

.image_upload_under_label {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: $more_gray;
  line-height: 2.7rem;
  margin-top: 0.8rem;
  u {
    color: $more_gray;
    text-underline-position: under;
  }
}
.crop_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0;
  background: #313131;
  z-index: 10;
  .reactEasyCrop_Container {
    z-index: 11;
    .reactEasyCrop_CropArea {
      color: rgba($almost_black, 0.9);
    }
    img {
      width: auto;
      height: auto;
      border-radius: 0;
    }
  }
}
.Crop_BTN_container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1.5rem;
  z-index: 20;
  .cancel_class {
    background: transparent;
    border: 1px solid $blue;
    color: $blue;
  }
  .cancel_class,
  .local_class {
    width: 49%;
    text-align: center;
  }
  @media screen and(min-width:557px) {
    width: 32rem;
  }
  .cancel_class {
    color: $light_grey;
    border-color: $light_grey;
  }
}

.drop_zone {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 3rem;
  background-color: rgb(250, 250, 250);
  color: rgb(189, 189, 189);
  cursor: pointer;
  flex: 1 1 0%;
  padding: 2rem;
  border-width: 2px;
  border-color: rgb(238, 238, 238);
  border-style: dashed;
  outline: none;
  transition: border 0.24s ease-in-out 0s;
  border-radius: 0.4rem;
  .uploadText {
    line-height: 2;
    text-align: justify;
    color: #8f8f8f;
  }
  .vector_car_upload {
    max-width: 50%;
    opacity: 0.06;
    margin-top: 2rem;
  }
  .gallery_button {
    display: none;
  }
  .Image_box {
    margin-top: 2rem;
    width: 100%;
    .Each_image {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 0.8rem;
      img {
        width: 10rem;
        border-radius: 4px;
        border: 1px solid #bdbdbd;
      }
      svg {
        cursor: pointer;
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        background: #fff;
        border-radius: 4px;
        width: 2rem;
      }
    }
  }
  .Loading {
    margin: 3rem;
  }
}

@media screen and(max-width:720px) {
  .drop_zone {
    .vector_car_upload {
      margin-top: 0;
    }
    .uploadText {
      display: none;
    }
    .Image_box {
      margin-top: 0rem;
    }
    .gallery_button {
      padding: 0.8rem 2rem;
      display: block;
      border: 1px solid $blue;
      border-radius: 4px;
      color: $blue;
      margin-top: 2rem;
    }
  }
}
