@import '../../../styles/colors';

.DropDown_container {
  *::selection {
    background-color: transparent;
  }
  width: 100%;
  position: relative;
  label {
    font-size: 12px;
  }
  .Disable_color {
    cursor: not-allowed;
  }
  .select_container {
    display: none;
  }
  .input_wrapper {
    position: relative;
    input {
      font-family: inherit;
      display: block;
      width: 100%;
      outline: 0;
      -webkit-appearance: none;
      height: 42px;
      line-height: 1;
      padding: 5px;
      font-size: 14px;
      background: $_ffffff;
      border: 1px solid $_bfbfbf;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 4px;
      box-shadow: 0 0 0 0 transparent inset;
      cursor: pointer;
    }
    .dropdownIsActive {
      box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      background: $_ffffff;
    }
    .clean_icon {
      position: absolute;
      top: 12px;
      left: 45px;
      cursor: pointer;
      width: 2px;
    }
    .color_Circle {
      position: absolute;
      top: 12px;
      width: 20px;
      height: 20px;
      border: 1px solid $_bfbfbf;
      border-radius: 4px;
      left: 50px;
    }
    .ArrowDown {
      position: absolute;
      top: 13px;
      transition: 0.25s;
      cursor: pointer;
      left: 10px;
    }
    .rotate_arrow_down_icon {
      display: flex;
      transition: 0.25s;
      transform: rotate(180deg);
    }
  }

  .Locations_list_container {
    position: absolute;
    padding: 0 10px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 30;
    width: 100%;
    max-height: 300px;
    min-height: 60px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid rgba(34, 36, 38, 0.18);
    border-top: none;
    background: $_ffffff;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
    .spinnerPlaceholder {
      padding-top: 14px;
    }
    .search_input_container {
      position: sticky;
      top: 0;
      input {
        text-indent: 21px;
        font-family: inherit;
        margin: 10px auto 0;
        display: block;
        width: 100%;
        outline: 0;
        -webkit-appearance: none;
        line-height: 1;
        padding: 10px;
        font-size: 13px;
        background: $_ffffff;
        border: none;
        border: 1px solid $_bfbfbf;
        border-radius: 25px;
        color: rgba(0, 0, 0, 0.87);
        box-shadow: 0 0 0 0 transparent inset;
        &:focus::placeholder {
          color: transparent;
        }
        &:focus::-moz-placeholder {
          color: transparent;
        }
        &:focus:-moz-placeholder {
          color: transparent;
        }
      }
      svg {
        position: absolute;
        width: 20px;
        inset-inline-start: 8px;
        top: 10px;
        cursor: pointer;
      }
    }
    p {
      cursor: pointer;
      padding: 10px;
      border-bottom: 1px solid $_f9f9f9;
      text-transform: capitalize;
      &:last-child {
        border-color: transparent;
      }
      .Color_box {
        border-radius: 4px;
        width: 100%;
        height: 20px;
        display: inline-block;
        border: 1px solid $_eeeeee;
      }
    }
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $_f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $_c6c6c6;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $_555555;
    }
  }
}
.DropDown_container[dir='ltr'] {
  .input_wrapper {
    .clean_icon {
      left: auto;
      right: 45px;
    }
    .color_Circle {
      left: auto;
      right: 50px;
    }
    .ArrowDown {
      left: auto;
      right: 10px;
    }
  }
}

.Disable_Container {
  opacity: 0.5;
}

@media screen and(max-width:960px) {
  .DropDown_container {
    .hideInput_wrapper {
      display: none;
    }
    .select_container {
      display: block;
      position: relative;
      .ArrowDown {
        position: absolute;
        top: 13px;
        cursor: pointer;
        left: 10px;
        width: 20px;
      }
      .default_select {
        font-family: inherit;
        margin: 3px auto 5px;
        display: block;
        width: 100%;
        outline: 0;
        -webkit-appearance: none;
        height: 42px;
        line-height: 1.5;
        padding: 5px;
        font-size: 14px;
        background: $_ffffff;
        border: 1px solid rgba(34, 36, 38, 0.15);
        color: rgba(0, 0, 0, 0.87);
        border-radius: 4px;
        box-shadow: 0 0 0 0 transparent inset;
      }
    }
  }
}
