@import "../../../styles/colors";

.DropDown_container {
  *::selection {
    background-color: transparent;
  }
  width: 100%;
  position: relative;
  label {
    font-size: 1.2rem;
  }
  .Disable_color {
    cursor: not-allowed;
  }
  .select_container {
    display: none;
  }
  .input_wrapper {
    position: relative;
    input {
      font-family: inherit;
      margin: 0.3rem auto 0rem;
      display: block;
      width: 100%;
      outline: 0;
      -webkit-appearance: none;
      height: 4.2rem;
      line-height: 1;
      padding: 0.5rem;
      font-size: 1.4rem;
      background: #ffffff;
      border: 1px solid $light_grey;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 0.4rem;
      box-shadow: 0 0 0 0 transparent inset;
      cursor: pointer;
    }
    .dropdownIsActive {
      box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      background: #fff;
    }
    .clean_icon {
      position: absolute;
      top: 1.2rem;
      left: 4.5rem;
      cursor: pointer;
      width: 2rem;
    }
    .color_Circle {
      position: absolute;
      top: 1.2rem;
      width: 2rem;
      height: 2rem;
      border: 1px solid $light_grey;
      border-radius: 4px;
      left: 5rem;
    }
    .ArrowDown {
      position: absolute;
      top: 1.3rem;
      transition: 0.25s;
      cursor: pointer;
      left: 1rem;
      width: 2rem;
    }
    .rotate_arrow_down_icon {
      transition: 0.25s;
      transform: rotate(180deg);
    }
  }

  .Locations_list_container {
    position: absolute;
    padding: 0 1rem 1rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 30;
    width: 100%;
    max-height: 30rem;
    min-height: 6rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid rgba(34, 36, 38, 0.18);
    border-top: none;
    // top: 5rem;
    background: #fff;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
    .spinnerPlaceholder {
      padding-top: 1.4rem;
    }
    .search_input_container {
      position: sticky;
      top: 0;
      input {
        text-indent: 21px;
        font-family: inherit;
        margin: 1rem auto 0rem;
        display: block;
        width: 100%;
        outline: 0;
        -webkit-appearance: none;
        line-height: 1;
        padding: 1rem;
        font-size: 1.3rem;
        background: #fff;
        border: none;
        border: 1px solid $light_grey;
        border-radius: 25px;
        color: rgba(0, 0, 0, 0.87);
        box-shadow: 0 0 0 0 transparent inset;
        &:focus::placeholder {
          color: transparent;
        }
        &:focus::-moz-placeholder {
          color: transparent;
        }
        &:focus:-moz-placeholder {
          color: transparent;
        }
      }
      svg {
        position: absolute;
        width: 2rem;
        right: 0.84rem;
        top: 1.2rem;
        cursor: pointer;
      }
    }
    p {
      cursor: pointer;
      padding: 1rem;
      border-bottom: 1px solid #f9f9f9;
      &:last-child {
        border-color: transparent;
      }
      .Color_box {
        border-radius: 4px;
        width: 100%;
        height: 2rem;
        display: inline-block;
        border: 1px solid #eee;
      }
    }
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $scrollbar_track;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $scrollbar_thumb;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $scrollbar_thumb_hovor;
    }
  }
}
.Disable_Container {
  opacity: 0.5;
}

@media screen and(max-width:960px) {
  .DropDown_container {
    .hideInput_wrapper {
      display: none;
    }
    .select_container {
      display: block;
      position: relative;
      .ArrowDown {
        position: absolute;
        top: 1.3rem;
        cursor: pointer;
        left: 1rem;
        width: 2rem;
      }
      .default_select {
        font-family: inherit;
        margin: 0.3rem auto 0.5rem;
        display: block;
        width: 100%;
        outline: 0;
        -webkit-appearance: none;
        height: 4.2rem;
        line-height: 1.5;
        padding: 0.5rem;
        font-size: 1.4rem;
        background: #fff;
        border: 1px solid rgba(34, 36, 38, 0.15);
        color: rgba(0, 0, 0, 0.87);
        border-radius: 0.4rem;
        box-shadow: 0 0 0 0 transparent inset;
      }
    }
  }
}
