@import "../../../styles/colors";
.price_filter {
  margin-bottom: 3rem;
  .price_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    .TA {
      font-weight: 500;
    }
    p {
      font-weight: 100;
    }
  }
  position: relative;
  .noUi-target {
    border: none;
    box-shadow: none;
    height: 5px;
    margin: 1rem 0;
    .noUi-origin {
      left: -10px !important;
      right: -15px;
      .noUi-handle {
        border: 3px solid $blue;
        background-color: #fff;
        box-shadow: none;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        top: -10px;
        left: 0;
        right: 0;
        &:focus {
          outline: none;
        }
        &::after,
        &::before {
          display: none;
        }
      }
    }
    .noUi-connect {
      background: $blue;
    }
    .noUi-base,
    .noUi-connects {
      height: 5px;
    }
  }
  .rc-slider-handle {
    border: 3px solid $blue;
    width: 24px;
    height: 24px;
    top: 0px;
  }
  .rc-slider-track {
    border: 3px solid $blue;
    background-color: $blue;
  }
  .rc-slider-rail {
    border: 3px solid $ultimate_gray;
    background-color: $ultimate_gray;
  }
  .rc-slider-disabled {
    background-color: transparent;
  }
}
.fake_price_slider {
  .fake_slider_texts {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 0 1rem;
    justify-content: space-between;
    p {
      width: 5rem;
      border-radius: 0.4rem;
      height: 1.5rem;
    }
    span {
      text-align: center;
      border-radius: 0.4rem;
      width: 2rem;
      height: 1.5rem;
    }
  }
  .fake_price_slider {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background-color: $blue;
    margin: 2rem 0;
    &::before,
    &::after {
      position: absolute;
      background-color: #fff;
      width: 1.8rem;
      height: 1.8rem;
      clear: both;
      display: block;
      top: -1rem;
      border: 3px solid $blue;
      border-radius: 50%;
      content: "";
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
@media screen and(max-width:960px) {
  .price_filter {
    .noUi-target {
      margin: 1rem 1.6rem;
      .noUi-origin {
        .noUi-handle {
          right: auto;
        }
      }
    }
  }
}
