@import '../../../styles/colors';
.disabledPriceSlider{
	position: relative;
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 2px;
		height: 100%;
		width: 100%;
		background-color: $_ffffff;
		opacity: 0.2;
		cursor: not-allowed;
		content: '';
		display: block;
		z-index: 2;
	}
}

.price_filter {
  margin-bottom: 3rem;
	.disablePriceFilter{
		position: relative;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding: 2px;
			height: 100%;
			width: 100%;
			background-color: $_fcfcfc;
			opacity: 0.3;
			cursor: not-allowed;
			content: '';
			display: block;
			z-index: 2;
		}
	}
  .price_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    .TA {
      margin: 0 0.8rem;
      font-weight: 500;
      width: auto;
      overflow: unset;
      text-overflow: unset;
    }
    p {
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 100;
    }
    .leftAlign{
      text-align: end;
    }
  }
  position: relative;
  .noUi-target {
    border: none;
    box-shadow: none;
    height: 5px;
    margin: 1rem 0;
    .noUi-origin {
      left: -10px !important;
      right: -15px;
      .noUi-handle {
        border: 3px solid $_3fa6da;
        background-color: $_ffffff;
        box-shadow: none;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        top: -10px;
        left: 0;
        right: 0;
        &:focus {
          outline: none;
        }
        &::after,
        &::before {
          display: none;
        }
      }
    }
    .noUi-connect {
      background: $_3fa6da;
    }
    .noUi-base,
    .noUi-connects {
      height: 5px;
    }
  }
	.rc-slider-disabled .rc-slider-track {
    background-color: $_cccccc;
		border-color: $_cccccc;
}
.rc-slider-disabled .rc-slider-handle, .rc-slider-disabled .rc-slider-dot {
	background-color: $_cccccc;
}
  .rc-slider-handle {
    border: 3px solid $_3fa6da;
    background: $_3fa6da;
    width: 22px;
    height: 22px;
    top: 1px;
  }
  .rc-slider-step {
    background: $_9bd4f1;
    border-radius: 10px;
  }
  .rc-slider-track {
    border: 2px solid $_3fa6da;
    background-color: $_3fa6da;
    z-index: 3;
  }
  .rc-slider-rail {
    border: 2px solid $_f4f4f4;
    background-color: $_f4f4f4;
  }
  .rc-slider-disabled {
    background-color: transparent;
  }
}
.fake_price_slider {
  .fake_slider_texts {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 0 1rem;
    justify-content: space-between;
    p {
      width: 5rem;
      border-radius: 0.4rem;
      height: 1.5rem;
    }
    span {
      text-align: center;
      border-radius: 0.4rem;
      width: 2rem;
      height: 1.5rem;
    }
  }
  .fake_price_slider {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background-color: $_3fa6da;
    margin: 2rem 0;
    &::before,
    &::after {
      position: absolute;
      background-color: $_ffffff;
      width: 1.8rem;
      height: 1.8rem;
      clear: both;
      display: block;
      top: -1rem;
      border: 3px solid $_3fa6da;
      border-radius: 50%;
      content: '';
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
@media screen and(max-width:960px) {
  .price_filter {
    padding-right: 2rem;
    padding-left: 2rem;
    .noUi-target {
      margin: 1rem 1.6rem;
      .noUi-origin {
        .noUi-handle {
          right: auto;
        }
      }
    }
  }
}
