@import '../../../styles/colors';

.Request_car {
  border-radius: 4px;
  margin: 0 0rem 2rem 0;
  padding: 1.6rem 1.6rem 2.4rem;
  text-align: right;
  background: #fff;
  box-shadow: $box_shadow;
  .rent_status {
    border: none;
    width: auto;
    border-radius: 4px;
    text-align: center;
    padding: 0.2rem 0.8rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg,
    img {
      display: inline-block;
      margin-left: 0.4rem;
      vertical-align: middle;
      width: 2rem;
    }
    span {
      font-weight: 500;
      display: inline-block;
    }
  }
  .extensionBadge {
    background-color: $almost_gray;
    border-radius: 4px;
    text-align: center;
    padding: 0.2rem 0.8rem;
    font-size: 1.4rem;
    margin-right: 8px;
    height: 2.3rem;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
  }
  .status_expired {
    display: inline-block;
    background-color: $almost_gray;
    span {
      color: $almost_black;
    }
  }
  .status_paid {
    border-radius: 4px;
    padding: 0.2rem 0.8rem;
  }
  .status_returned,
  .status_paid,
  .status_on_trip {
    display: inline-block;
    background-color: $almost_teal;
    span {
      color: $teal;
    }
  }
  .status_approved {
    display: inline-flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    .card_status {
      border-radius: 4px;
      padding: 0.2rem 0.8rem;
      background-color: $almost_purple;
      span {
        color: $purple;
      }
    }
    .timer {
      display: flex;
      justify-content: left;
      align-items: center;
      div {
        width: auto !important;
        font-size: 1.4rem !important;
        color: $purple;
        font-weight: 500;
      }
      svg {
        margin-left: 0;
        margin-right: 0.4rem;
      }
    }
  }
  .status_new {
    display: inline-flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    .card_status {
      border-radius: 4px;
      padding: 0.2rem 0.8rem;
      background-color: $almost_orange;
      span {
        color: $orange;
      }
    }
  }
  .timer {
    display: flex;
    justify-content: left;
    align-items: center;
    div {
      width: auto !important;
      font-size: 1.4rem !important;
      color: $orange;
      font-weight: 500;
    }
    svg {
      margin-left: 0;
      margin-right: 0.4rem;
    }
  }
  .cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // margin-top: 1.6rem;
    padding: 1.6rem 0;
    padding-bottom: 0;
    .rent_info {
      h2 {
        margin: 0 0 3.1rem 0;
        font-size: 1.8rem;
        line-height: 31px;
      }
      hr {
        border-width: 0.1rem;
        margin: 0.5rem 0;
        border-bottom-width: 0;
        border-color: transparent;
        width: 12rem;
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 1.3rem;
        span {
          font-size: 1.6rem;
          font-weight: bold;
          span {
            font-weight: normal;
            width: 100%;
            display: block;
          }
        }
      }
      .date_duration {
        text-align: right;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
          font-size: 1.6rem;
          font-weight: normal;
          line-height: 27px;
          span {
            margin-top: 0.7rem;
          }
        }
        svg {
          margin: 0 1rem;
          width: 2.4rem;
        }
      }
      .rent_duration {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        svg {
          margin: 0 2rem;
        }
      }
      .no_of_days {
        font-weight: 500;
        font-size: 1.4rem;
      }
    }
    .image_pelak {
      display: block;
      width: 12rem;
      height: 8.4rem;
      figure {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        img {
          display: none;
          max-width: 100%;
          left: 0;
        }
      }
    }
  }
  .invoice_and_insurance {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    span {
      font-size: 1.8rem;
      font-weight: 500;
      span {
        font-weight: normal;
        width: 100%;
        display: block;
      }
    }
    .insurance_badge {
      font-size: 1.4rem;
      display: inline-block;
      float: left;
      padding: 0.2rem 0;
      img {
        width: 2rem;
        height: 2rem;
        margin-left: 0.4rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .Role_container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: $blue;
      font-weight: normal;
      font-size: 1.6rem;
      margin-right: -3px;

      .extra_Text {
        display: inline-block;
        vertical-align: middle;
        color: $blue;
        font-weight: 400;
      }
      svg {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.4rem;
        width: 3rem;
        height: 3rem;
      }
    }
    .renter_Cell {
      background-color: $almost_blue;
      padding: 0.4rem 0.8rem;
      border-radius: 20px;
      font-weight: normal;
      border: 1px solid $blue;
      svg {
        width: 1.6rem;
        height: 1.6rem;
        margin: 0;
      }
    }
  }
  .contract_download {
    margin-top: 2rem;
    img {
      display: inline-block;
      margin-left: 0.8rem;
      vertical-align: middle;
    }
    span {
      color: $blue;
      display: inline-block;
      vertical-align: middle;
      font-size: 1.6rem;
    }
  }
  .Button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Blue_BTN {
      width: 14.5rem;
    }
    .disable_rate_btn {
      color: #656565;
      margin-top: 2rem;
      font-family: inherit;
      background-color: #e6e6e6;
    }
    .request_car_accept {
      margin-top: 2rem;
      width: 48%;
    }
    .request_car_reject {
      margin-top: 2rem;
      width: 48%;
      background-color: transparent;
      border: 1px solid $light_grey;
      color: $gray;
      .Loading {
        border-right-color: $light_grey;
      }
    }
    .request_car_cancel {
      width: 14.5rem;
      margin-top: 2rem;
      background-color: transparent;
      border: 1px solid $light_grey;
      color: $gray;
      .Loading {
        border-right-color: $light_grey;
      }
    }
    .request_car_pay {
      margin-top: 2rem;
      display: block;
    }
    .pelak_view_container {
      border: 1px solid $light_grey;
      background: $almost_white;
      margin-right: 2.4rem;
      height: 2.8rem;
      margin-top: 2rem;
      max-width: 14.5rem;
      border-radius: 0.4rem;
      img {
        display: none;
      }
      .first {
        position: absolute;
        width: auto;
        left: 13px;
        top: 4px;
        font-size: 1.4rem;
        color: $almost_black;
      }
      .second {
        position: absolute;
        top: 4px;
        right: 88px;
        line-height: 1.2;
        font-size: 1.4rem;
        color: $almost_black;
      }
      .third {
        position: absolute;
        top: 4px;
        right: 53px;
        font-size: 1.4rem;
        color: $almost_black;
      }
      .forth {
        position: absolute;
        top: 4px;
        right: 11px;
        font-size: 1.4rem;
        color: $almost_black;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 97.5%;
        width: 0.8rem;
        height: 0.8rem;
        margin-top: -5px;
        border-width: 1px;
        border-style: solid;
        background: $almost_white;
        border-color: $light_grey $light_grey transparent transparent;
        transform: rotate(45deg);
      }
      &::before {
        content: '';
        position: absolute;
        left: 72%;
        width: 0;
        height: 100%;
        border-width: 0;
        border-style: solid;
        border-color: $light_grey;
        border-left-width: 1px;
      }
    }
  }
}

@media screen and(max-width:720px) {
  .Request_car {
    margin: 0 auto 2rem;
    .Role_container {
      a {
        svg {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
    .invoice_and_insurance {
      font-size: 1.2rem;
      .insurance_badge {
        svg {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }
  }
}

@media screen and(max-width:480px) {
  .Request_car {
    .cart {
      .rent_info {
        h2 {
          max-width: 16rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .rent_duration {
          svg {
            margin: 0 0.5rem;
          }
        }
      }
      .image_pelak {
        // max-width: 14rem;
        .pelak_view_container {
          width: 14rem;
          .first {
            left: 26px;
            top: 5px;
          }
          .second {
            top: 6px;
            right: 72px;
          }
          .third {
            top: 5px;
            right: 42px;
          }
          .forth {
            top: 9px;
            right: 9px;
          }
        }
      }
    }
  }
}
