@import "../../styles/colors";
.search_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .search_box_div {
      margin: auto 1rem;
      display: inline-block;
      width: 25%;
      input {
        padding: 0.94rem;
        margin: 0.1rem auto 0;
      }
      .Search_Text_transparent {
        margin-bottom: 4px;
        color: transparent;
        cursor: default;
        line-height: 1;
      }
    }
    .Date_picker_container {
      position: relative;
      margin: auto 1rem;
      display: inline-block;
      width: 50%;
      z-index: 10;
      .Calendar {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border: 1px solid rgba(34, 36, 38, 0.15);
        box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
      }
      .DatePicker__calendarArrow {
        display: none !important;
      }
      .PushToRight {
        .DatePicker__calendarContainer {
          // transform: translateX(-20%) !important;
          top: 95%;
          right: 0%;
          left: auto;
          transform: translateX(0) !important;
          // border: 1px solid rgba(34, 36, 38, 0.15);
          // border-radius: 4px;
          // border-top-right-radius: 0px;
          // box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
        }
      }
      .PushToLeft {
        .DatePicker__calendarContainer {
          // transform: translateX(-80%) !important;
          top: 95%;
          left: 0%;
          transform: translateX(0) !important;
          // border: 1px solid rgba(34, 36, 38, 0.15);
          // border-radius: 4px;
          // box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
          // border-top-left-radius: 0px;
        }
      }
      .date_Input_Container {
        display: flex;
        .input_container {
          position: relative;
          width: 100%;
          input {
            font-family: inherit;
            margin: 0.3rem auto;
            display: block;
            width: 100%;
            outline: 0;
            -webkit-appearance: none;
            line-height: 1.5;
            border: 1px solid $light_grey;
            border-left: 0px solid $light_grey;
            border-radius: 0.4rem;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            padding: 0.94rem;
            font-size: 1.4rem;
            background: #fff;
            color: rgba(0, 0, 0, 0.87);
            box-shadow: 0 0 0 0 transparent inset;
            &.activeBorder {
              border-color: $blue;
              border-left: 1px solid $blue;
              border-bottom-right-radius: 0px;
              border-bottom-left-radius: 0px;
              box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.11);
            }
          }
          .exception_input {
            border: 1px solid $light_grey;
            border-left: 1px solid $light_grey;
            border-right: 1px solid $light_grey;
            border-radius: 0.4rem;
            border-top-left-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 0px;
          }
          span {
            position: absolute;
            font-size: 1rem;
            color: firebrick;
            font-weight: 500;
          }
        }
        .DatePicker {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          input {
            cursor: pointer;
            opacity: 0;
            text-align: right;
            padding: 0.94rem;
            font-family: inherit;
            margin: 0.3rem auto 0.5rem;
            display: block;
            width: 100%;
            height: 100%;
            outline: 0;
            -webkit-appearance: none;
            line-height: 1;
            font-size: 1.4rem;
            background: #fff;
            border: 1px solid $light_grey;
            color: rgba(0, 0, 0, 0.87);
            border-radius: 0.4rem;
            box-shadow: 0 0 0 0 transparent inset;
          }
        }
      }
    }
    .search_Btn {
      width: 100%;
    }
  }
}
@media screen and(max-width:820px) {
  .search_box_div {
    p {
      font-size: 1rem;
      line-height: 2.1;
    }
  }
}
@media screen and(max-width:720px) {
  .search_box {
    display: block;
    form {
      display: block;
      .Date_picker_container {
        width: 100%;
        margin: 1rem auto;
        .PushToRight {
          .DatePicker__calendarContainer {
            top: 96%;
            // transform: translateX(-5%) !important;
          }
        }
        .PushToLeft {
          .DatePicker__calendarContainer {
            top: 96%;
            // transform: translateX(-95%) !important;
          }
        }
      }
      .search_box_div {
        margin: 1rem auto;
        width: 100%;
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and(max-width:680px) {
  .search_box {
    form {
      .Date_picker_container {
        .PushToRight {
          .DatePicker__calendarContainer {
            // transform: translateX(-30%) !important;
          }
        }
        .PushToLeft {
          .DatePicker__calendarContainer {
            // transform: translateX(-70%) !important;
          }
        }
      }
    }
  }
}

@media screen and(max-width:575px) {
  .search_box {
    form {
      .Date_picker_container {
        .PushToRight {
          .DatePicker__calendarContainer {
            // transform: translateX(-40%) !important;
          }
        }
        .PushToLeft {
          .DatePicker__calendarContainer {
            // transform: translateX(-60%) !important;
          }
        }
      }
    }
  }
}

@media screen and(max-width:480px) {
  .search_box {
    display: block;
    form {
      display: block;
      .Date_picker_container {
        width: 100%;
        margin: 0;
        .PushToRight {
          .DatePicker__calendarContainer {
            // transform: translateX(-45%) !important;
          }
        }
        .PushToLeft {
          .DatePicker__calendarContainer {
            // transform: translateX(-55%) !important;
          }
        }
        // .date_Input_Container {
        //   margin: 0rem auto;
        //   display: block;
        //   .input_container {
        //     margin-bottom: 1rem;
        //     margin-bottom: 1rem;
        //     input{
        //       border: 1px solid $light_grey;
        //       border-radius: 4px !important;
        //     }
        //   }
        // }
      }
    }
  }
}
