@import '../../../styles/colors';

.Profile_car_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  direction: ltr;
  margin-right: 20px;
  @media screen and(max-width:960px) {
    margin-right: 0;
  }
  .service_filer {
    width: 100%;
    text-align: left;
    direction: rtl;
    margin-bottom: 16px;
    .radio_container {
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-right-color: transparent;
      padding: 2px;
      padding-left: 10px;
      margin-left: 0;
      color: rgba(0, 0, 0, 0.5);
      &:first-child {
        border-color: rgba(0, 0, 0, 0.08);
      }
      .container {
        font-size: 12px;
        font-weight: 500;
        padding: 0 10px;
        .checkmark {
          display: none;
        }
      }
    }
    .active_radio_item {
      label {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }

  .cars_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    direction: rtl;
    margin-bottom: 24px;
  }
  .noCar_added {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    p {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 14px;
    }
  }
  .place_holder_div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .Load_more_car_container {
    margin-bottom: 24px;
    width: 100%;
  }
}

.Profile_car_container[dir='ltr'] {
  direction: ltr;
  align-items: flex-start;
  .cars_container {
    direction: ltr;
  }
}
