@import "../../styles/units";
@import "../../styles/colors";

.search_result_page_container {
  .count_bar_container {
    background: $_313131;
    .count_bar {
      cursor: pointer;
      align-items: center;
      .count_bar_count {
        font-weight: 500;
        line-height: 3;
        font-size: 14px;
        color: $_dcdcdc;
        display: inline-block;
      }
      .change_search_btn {
        border-radius: 4px;
        padding: 2px 6px;
        font-size: 12px;
        border: 1px solid $_dcdcdc;
        color: $_dcdcdc;
        display: inline-block;
        cursor: pointer;
        float: left;
        margin-top: 8px;
        .close_text_btn {
          color: $_dcdcdc;
          display: inline-block;
          svg {
            display: inline-block;
            vertical-align: middle;
            padding-bottom: 0;
            padding-right: 5px;
            width: 20px;
          }
        }
      }
    }
    .count_bar_count_empty {
      height: 42px;
    }
    .new_search_in_landing {
      background: $_313131;
      padding-bottom: 10px;
      display: none;
      .label {
        margin-bottom: 5px;
        margin-bottom: 5px;
        color: $_dcdcdc;
      }
      .DropDown_container {
        .input_wrapper {
          input {
            background: $_ffffff;
          }
        }
      }
    }
    .show_search_section {
      display: block;
    }
    svg {
      margin: auto;
      display: block;
      cursor: pointer;
    }
    .Arrow_up_change_search {
      padding: 10px 20px;
      width: 20px;
    }
  }
	.disableSort{
		position: relative;
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 2px;
		height: 100%;
		width: 100%;
		background-color: $_ffffff;
		opacity: 0.2;
		cursor: not-allowed;
		content: '';
		display: block;
		z-index: 2;
	}
	}
  .price_sort_container {
    padding: 15px 0;
    text-align: left;
    span {
      cursor: pointer;
      // letter-spacing: -0.05rem;
      border: 1px solid $_e5e5e5;
      color: rgba(0, 0, 0, 0.5);
      border-right-color: transparent;
      font-size: 12px;
      font-weight: 500;
      padding: 8px 10px;
      display: inline-block;
      &:first-child {
        border-radius: 0 5px 5px 0;
        border-right-color: rgba(0, 0, 0, 0.08);
      }
      &:nth-of-type(2) {
        border-radius: 5px 0 0 5px;
      }
      &.active {
        color: rgba(0, 0, 0, 0.9);
      }
    }
    .show_filter {
      color: $_656565;
      border: 1px solid $_e5e5e5;
      border-radius: 5px;
      display: none;
      font-size: 12px;
      padding: 4px 10px;
      line-height: 1;
      float: right;
    }
  }
	.disabledmMinimal_filters{
		position: relative;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding: 2px;
			height: 100%;
			width: 100%;
			background-color: $_ffffff;
			opacity: 0.2;
			cursor: not-allowed;
			content: '';
			display: block;
			z-index: 2;
		}
	}
  .minimal_filters {
    .minimal_filter_tags {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      font-size: 10px;
      padding: 7px 10px;
      font-weight: normal;
      margin-left: 10px;
      margin-bottom: 10px;
      border: 1px solid $_3fa6da;
      cursor: pointer;
      background: $_fafafa;
      color: $_525252;
      svg {  
        padding-left: 5px;
        width: 13px;
      }
    }
  }
  .content_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
}

.search_result_page_container[dir='ltr'] {
  .count_bar_container { 
    .count_bar { 
     
      .change_search_btn {  
        float: right; 
        .close_text_btn { 
          svg { 
            padding-right: 0;
            padding-left: 5px; 
          }
        }
      }
    }  
  }

  .price_sort_container { 
    text-align: right;
    span { 
      border-right-color:$_e5e5e5;
      border-left-color: transparent; 
      &:first-child { 
        border-radius: 5px  0  0 5px ; 
        border-left-color: rgba(0, 0, 0, 0.08);
      }
      &:nth-of-type(2) {
        border-radius: 0 5px 5px 0;
      }
    }
    .show_filter {  
      float: left;
      svg { 
        margin-left: 10px !important;
        margin-right: 0 !important;
      }
    }
  }
  .minimal_filters {
    .minimal_filter_tags {   
      margin-left: 0;
      margin-right: 10px;  
      svg { 
        padding-left: 0;
        padding-right: 5px; 
      }
    }
  } 
}


.quick_access_middle_searchResult {
  display: none;
  width: 100%;
  margin: 10px 0 40px;
  h2 {
    color: $_313131;
    margin-top: 0; 
    font-weight: 400;
    font-size: 14px;
  }
  .quick_access_child_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      cursor: pointer;
      width: 48%;
      background: $_2cb8c2;
      border-radius: 4px;
      padding: 30px 10px 20px 10px;
      text-align: center;
      img {
        height: 50px;
        display: block;
        margin: auto;
      }
      p {
        padding-top: 8px;
        color: $_ffffff;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

@media screen and(max-width:960px) {
  .search_result_page_container {
    .price_sort_container {
      .show_filter {
        display: inline-block;
        vertical-align: middle;
        padding: 7px 10px;
        cursor: pointer;
        svg {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          width: 14px;
        }
      }
    }
  }
}

@media screen and(max-width:480px) {
  .quick_access_middle_searchResult {
    display: block;
  }
}

@media screen and(max-width:375px) {
  .search_result_page_container {
    .price_sort_container {
      span {
        padding: 8px 3px;
      }
      .show_filter {
        padding: 7px 3px;
        svg {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
  }
}
