@import "../../styles/units";
@import "../../styles/colors";

.search_result_page_container {
  .count_bar_count {
    text-align: center;
    font-weight: 500;
    background: #fff;
    line-height: 3;
    font-size: 1.4rem;
    position: relative;
  }
  .count_bar_count_empty {
    height: 42px;
  }
  .price_sort_container {
    padding: 1.5rem 0;
    text-align: left;
    span {
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.08);
      color: rgba(0, 0, 0, 0.5);
      border-right-color: transparent;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0.5rem 1rem;
      display: inline-block;
      &:first-child {
        border-right-color: rgba(0, 0, 0, 0.08);
      }
      &.active {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
  .minimal_filters {
    .minimal_filter_tags {
      display: inline-block;
      color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 0.2rem 0.8rem;
      font-weight: 500;
      margin-left: 2rem;
      cursor: pointer;
      svg {
        display: inline-block;
        vertical-align: top;
        padding-left: 1rem;
      }
    }
  }
  .content_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
