@import '../../../styles/colors';

.inputContainer {
  width: 100%;
  display: block;
  font-size: 14px;
  position: relative;
  padding-bottom: 25px;
  .label {
    color: $_313131;
    font-family: inherit;
    display: inline-block;
    margin-bottom: 6px;
  }
  .inputWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    position: relative;
    .input {
      font-family: 'danaXV', 'dana', tahoma;
      display: block;
      width: 100%;
      -webkit-appearance: none;
      line-height: 1.5;
      padding: 10px;
      font-size: 16px;
      background: $_ffffff;
      border: 1px solid $_bfbfbf;
      color: $_525252;
      border-radius: 4px;
      box-shadow: 0 0 0 0 transparent inset;
      &:focus {
        background-color: $_ffffff;
        outline: none;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
    .inputError {
      border-color: $_d83030;
      background-color: rgba($color: $_d83030, $alpha: 0.1);
      color: $_d83030;
    }
    .changeDirectionOnFocus {
      text-align: left;
    }
    .clean {
      position: absolute;
      inset-inline-end: 10px;
      cursor: pointer;
      top: 12px;
    }
    .tailContent {
      margin-inline-start: 16px;
      display: flex;
      align-items: center;
      color: $_313131;
      background-color: $_fafafa;
      padding: 9px 10px;
      border-radius: 4px;
      white-space: nowrap;
    }
  }
  .inputErrorMessage {
    position: absolute;
    bottom: 2px;
    inset-inline-start: 0;
    font-size: 12px !important;
    color: $_d83030;
  }
}
