@use "../../../styles/variables" as var;
@import "../../../styles/colors";

.requests_section_loader {
  border-radius: 4px;
  width: 96%;
  margin: auto;
  margin-bottom: 14px;
  padding: 0;
  background: $_ffffff;
  box-shadow: var.$boxShadow;
  text-align: right;
  .cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 16px;
    padding: 10px;
    .rent_info {
      width: 70%;
      h2 {
        width: 100px;
        height: 10px;
        margin: 5px 0;
        display: inline-block;
      }
      h3 {
        width: 100px;
        height: 10px;
        margin: 5px 0;
        display: block;
      }
      p {
        font-size: 14px;
        display: block;
        width: 50px;
        height: 16px;
      }
      .rent_duration {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .no_of_days {
        font-weight: 500;
        font-size: 14px;
      }
    }
    .image_pelak {
      max-width: 160px;
      display: block;
      max-height: 160px;
      margin: 0 auto;
      figure {
        width: 120px;
        height: 100px;
        margin-right: 10px;
      }
    }
  }

  .Role_container {
    padding: 5px 10px 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .Button_container {
    padding: 10px;
    height: 40px;
  }
}
