@import "../../../styles/colors";

.Modal {
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  .back_draw {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  .login_modal {
    width: 45%;
    min-width: 30rem;
    height: 260px;
    max-width: 40rem;
  }
  .confirm_modal {
    width: 45%;
    min-width: 30rem;
    height: 290px;
    max-width: 40rem;
  }
  .Tell_me {
    width: 45%;
    min-width: 30rem;
    height: auto;
    max-width: 55rem;
  }
  .Renter,
  .Owner,
  .Law,
  .Assurance {
    width: 65%;
    min-width: 30rem;
    max-width: 50rem;
  }
  .modal_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background: #fff;
    padding: 1.6rem;
    margin: 0px auto;
    border-radius: 4px;
    text-align: right;
    flex-direction: column;
    .send_again {
      cursor: pointer;
      color: $blue;
      text-align: right;
    }
    .modal_box_div {
      .close_btn {
        width: 2rem;
      }
      .login_modal_title {
        position: relative;
        text-align: center;
        margin-bottom: 2rem;
        .login_person_icon {
          position: absolute;
          right: 0;
          width: 2rem;
          top: 0;
          color: rgb(255, 255, 255);
          background: $blue;
          border: 3px solid $blue;
          border-radius: 50%;
        }
        h2 {
          line-height: 23px;
          width: auto;
          display: inline-block;
          font-size: 1.4rem;
          font-weight: 500;
          margin: 0;
          text-align: center;
          border-bottom: 2px solid $blue;
        }
      }
    }
    .go_back {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      font-size: 1.1rem;
      &:nth-of-type(2) {
        text-align: left;
      }
      .Edit_number {
        text-align: left;
        cursor: pointer;
      }
      .Count_Down_text {
        cursor: not-allowed;
        text-align: right;
      }
    }
    svg {
      cursor: pointer;
    }
  }
}

@media screen and(max-width:720px) {
  .Modal {
    .Tell_me {
      width: 80%;
    }
    .Assurance {
      width: 90%;
    }
  }
}
