.contract_content {
  width: 100%;
  padding: 1.5rem;
  padding-bottom: 20rem;
  .show_contract_checkbox {
    .check_box_container {
      .container {
        label {
          margin: 0;
        }
      }
    }
  }
  .content {
    h1 {
      text-align: center;
      font-size: 2rem;
    }
    h2 {
      text-align: center;
      font-size: 1.6rem;
    }
  }
}
