@use "../../../styles/variables" as var;
@import "../../../styles/colors";

.Checkout_container_loader {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  padding-top: 30px;
  .car_info_insurance {
    width: 63%;
    display: inline-block;
    vertical-align: top;
    .Date_container {
      display: none;
      justify-content: space-between;
      align-items: center;
      box-shadow: var.$boxShadow;
      background: $_ffffff;
      padding: 16px;
      border-radius: 4px;
      margin-bottom: 16px;
      p {
        width: 90px;
        height: 16px;
      }
    }
    .car_info {
      box-shadow: var.$boxShadow;
      background:$_ffffff;
      padding: 16px;
      font-size: 14px;
      border-radius: 4px;
      .car_owner_part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          width: 70%;
          height: 20px;
          display: inline-block;
        }
        h4 {
          width: 150px;
          height: 20px;
        }
        .car_image,
        .owner_part {
          width: 70px;
          height: 70px;
        }
      }
      h2 {
        margin-top: 10px;
        width: 200px;
        height: 20px;
        display: inline-block;
      }
      p {
        width: 150px;
        height: 14px;
        margin-bottom: 20px;
      }
    }
  }
  .payment_info_container {
    display: inline-block;
    width: 34%;
    background: $_ffffff;
    border-radius: 4px;
    padding: 16px;
    box-shadow: var.$boxShadow;
    .Date_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        width: 90px;
        height: 16px;
        margin-bottom: 20px;
      }
    }
    .number_of_days {
      width: 90px;
      height: 16px;
      margin: auto;
      margin-bottom: 20px;
    }
    .payment_information {
      p {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          width: 100px;
          display: inline-block;
          height: 10px;
        }
      }
      .total_price {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          width: 100px;
          height: 10px;
          display: inline-block;
        }
      }
    }
    .continue_to_pay {
      width: 100%;
      margin-top: 20px;
      height: 40px;
    }
  }
}

@media screen and(max-width:720px) {
  .Checkout_container_loader {
    display: block;
    padding-top: 0;
    .car_info_insurance {
      width: 100%;
      display: block;
      .Date_container {
        display: flex;
      }
    }
    .payment_info_container {
      width: 100%;
      margin-top: 16px;
      margin-bottom: 60px;
      .Date_container {
        display: none;
      }
      .number_of_days {
        display: none;
      }
      .continue_to_pay {
        z-index: 5;
        position: fixed;
        width: 100%;
        bottom: 0px;
        right: 0;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
