@import "../../../styles/colors";

.Checkout_container_loader {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  padding-top: 3rem;
  .car_info_insurance {
    width: 63%;
    display: inline-block;
    vertical-align: top;
    .Date_container {
      display: none;
      justify-content: space-between;
      align-items: center;
      box-shadow: $box_shadow;
      background: #fff;
      padding: 1.6rem;
      border-radius: 4px;
      margin-bottom: 1.6rem;
      p {
        width: 9rem;
        height: 1.6rem;
      }
    }
    .car_info {
      box-shadow: $box_shadow;
      background: #fff;
      padding: 1.6rem;
      font-size: 1.4rem;
      border-radius: 4px;
      .car_owner_part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          width: 70%;
          height: 2rem;
          display: inline-block;
        }
        h4 {
          width: 15rem;
          height: 2rem;
        }
        .car_image,
        .owner_part {
          width: 7rem;
          height: 7rem;
        }
      }
      h2 {
        margin-top: 1rem;
        width: 20rem;
        height: 2rem;
        display: inline-block;
      }
      p {
        width: 15rem;
        height: 1.4rem;
        margin-bottom: 2rem;
      }
    }
  }
  .payment_info_container {
    display: inline-block;
    width: 34%;
    background: #fff;
    border-radius: 4px;
    padding: 1.6rem;
    box-shadow: $box_shadow;
    .Date_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        width: 9rem;
        height: 1.6rem;
        margin-bottom: 2rem;
      }
    }
    .number_of_days {
      width: 9rem;
      height: 1.6rem;
      margin: auto;
      margin-bottom: 2rem;
    }
    .payment_information {
      p {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          width: 10rem;
          display: inline-block;
          height: 1rem;
        }
      }
      .total_price {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          width: 10rem;
          height: 1rem;
          display: inline-block;
        }
      }
    }
    .continue_to_pay {
      width: 100%;
      margin-top: 2rem;
      height: 4rem;
    }
  }
}

@media screen and(max-width:720px) {
  .Checkout_container_loader {
    display: block;
    padding-top: 0rem;
    .car_info_insurance {
      width: 100%;
      display: block;
      .Date_container {
        display: flex;
      }
    }
    .payment_info_container {
      width: 100%;
      margin-top: 1.6rem;
      margin-bottom: 6rem;
      .Date_container {
        display: none;
      }
      .number_of_days {
        display: none;
      }
      .continue_to_pay {
        z-index: 5;
        position: fixed;
        width: 100%;
        bottom: 0px;
        right: 0;
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
