.Please_login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div {
    svg {
      display: inline-block;
      vertical-align: middle;
      width: 3rem;
    }
    p {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.4rem;
      margin: 1rem;
      font-weight: 500;
    }
  }
  .costume_btn_style {
    width: 12rem;
  }
}
