@use "../../styles/variables" as var;
@import "../../styles/colors";

.Please_login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .caption {
    svg {
      display: inline-block;
      vertical-align: sub;
      width: 3rem;
      transform: rotate(180deg);
    }
    p {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.4rem;
      margin: 0 1rem 2rem;
      font-weight: 500;
    }
  }
  .modal_box {
    box-shadow: var.$boxShadow;
    width: 45%;
    min-width: 30rem;
    height: auto;
    max-width: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    padding: 2rem;
    margin: 0px auto;
    border-radius: 4px;
    flex-direction: column;
    .login_modal_title_confirm_code {
      .login_person_icon {
        cursor: pointer;
      }
    }
    .login_modal_title,
    .login_modal_title_confirm_code {
      position: relative;
      text-align: center;
      margin-bottom: 2rem;
      width: 100%;
      .login_person_icon {
        position: absolute;
        right: 0;
        width: 2rem;
        top: 0;
        color: rgb(255, 255, 255);
        background: $_3fa6da;
        border: 3px solid $_3fa6da;
        border-radius: 50%;
      }
      h2 {
        line-height: 23px;
        width: auto;
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0;
        text-align: center;
      }
    }

    .login_modal_title_confirm_code {
      .login_person_icon {
        color: $_3fa6da;
        background: transparent;
        border: none;
      }
    }

    .go_back {
      display: none;
      width: auto;
      text-align: left;
      vertical-align: middle;
      font-size: 1.1rem;
      float: left;
      margin-bottom: 5px;
      // &:nth-of-type(3) {
      //   text-align: left;
      // }
    }
    .show_the_go_back_button {
      display: inline-block;
    }
    .send_again {
      cursor: pointer;
      color: $_3fa6da;
      text-align: right;
    }
  }
  .login_modal {
    .text_input_container {
      padding-bottom: 4rem;
      position: relative;
      .input_error_message {
        position: absolute;
        bottom: 5px;
      }
    }
    .login_submit {
      margin: 0;
    }
  }
  .confirm_code {
    .text_input_container {
      position: relative;
      padding-bottom: 3rem;
      .input_error_message {
        position: absolute;
        bottom: -16px;
      }
    }
  }
}

.Please_login_container[dir="ltr"] {
  .modal_box {
    .login_modal_title,
    .login_modal_title_confirm_code {
      .login_person_icon {
        right: auto;
        left: 0;
      }
    }
    .login_modal_title_confirm_code {
      .login_person_icon {
        transform: rotate(180deg);
      }
    }

    .go_back {
      text-align: right;
      float: right;
    }
    .send_again {
      text-align: left;
    }
  }
}
