// GALLERY STYLES
.Gallery_Container {
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 30px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
  background: rgba(0, 0, 0, 0.89);
}
.closeButton {
  z-index: 1000;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 40px;
  svg {
    width: 3rem;
  }
}
.show_part {
  width: 80%;
  height: 90vh;
  margin: auto;
}
.show_part img {
  height: 100%;
  display: block;
  margin: auto;
  height: 80vh !important;
}
.thumbnail_part {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  height: 100px;
  margin-top: 20px;
  padding-bottom: 6px;
}

/* width */
.thumbnail_part::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.thumbnail_part::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.thumbnail_part::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
.thumbnail_part::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.thumbnail_part img {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

@media (max-width: 960px) {
  .show_part {
    position: relative;
    height: 360px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .show_part img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: auto !important;
  }
  .closeButton {
    right: 10px;
  }
}

.activeDot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #fff;
  margin: 6px;
  display: inline-block;
  vertical-align: middle;
}

.deactiveDot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #fff;
  margin: 6px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.3;
}

@media (max-width: 660px) {
  .closeButton {
    right: 10px;
  }
}
.rightSlide {
  opacity: 0;
  animation: fadeIN 0.25s linear 0.1s forwards;
}

@keyframes fadeIN {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
