@import "../../styles/colors";

footer {
  background-color: $_fefefe;
  border-top: solid 1px $_e5e5e5;
  &.hide_footer {
    display: none;
  }
  padding-top: 2rem !important;
  .toTop {
    opacity: 0;
    z-index: -1;
    &.showTop {
      opacity: 1;
    }
    svg {
      z-index: 9;
      background: $_3fa6da;
      position: fixed;
      left: 5rem;
      bottom: 6rem;
      width: 4rem;
      border-radius: 4px;
      path {
        &:first-child {
          color: $_ffffff;
        }
      }
    }
  }
  .plus_border {
    display: flex;
    align-items: flex-start; 
    padding: 0;
    padding-bottom: 2rem !important;
    justify-content: space-between;
    @media (max-width: 1024px) {
      padding-inline: 16px;
    }
    ul {
      // width: 50%;
      // border-left: 1px solid $_e8e8e8;
      li {
        display: block;
        a {
          transition: 0.25s all;
          line-height: 2;
          font-size: 1.4rem;
          color: $_3fa6da;
          margin-bottom: 0.5rem;
          display: inline-block;
          &:hover {
            padding-right: 0.5rem;
          }
        }
      }
    }
    .social_container_footer {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      h3 {
        width: 300px;
        color: $_929292;
        font-size: 1.4rem;
      }
      div {
        width: 300px;
        svg {
          margin-left: 1rem;
          width: 3rem;
        }
      }
      a {
        color: $_3fa6da;
        font-size: 1.4rem;
        font-weight: 500;
      }
      p {
        font-size: 1.4rem;
        width: 300px;
        color: $_929292;
        margin-top: 1.6rem;
        font-weight: 500;
      }
    }
    .enamadContainer {
      display: flex;
      @media (max-width:680px) {
        margin-top: 30px; 
      }
      a {
        padding: 16px;
        border-radius: 4px;
        border: 1px solid $_bfbfbf;
        img {
          cursor: pointer;
          width: 90px;
        }
      }
      @media (max-width: 680px) {
        align-items: center;
        justify-content: center;
      }
    }
    .brand_description {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        margin-left: 1.4rem;
      }
    }
  }
  .signature {
    display: block;
    text-align: center;
    position: relative;
    p {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 1rem;
      font-weight: 500;
      opacity: 0.6;
    }
    span {
      position: absolute;
      left: 1.5rem;
      top: 0.3rem;
      opacity: 0.5;
    }
  }
}

footer[dir="ltr"] {
  .toTop {
    svg {
      left: auto;
      right: 5rem;
    }
  }
  .plus_border {
    ul {
      border-left: 0px solid $_e8e8e8;
      border-right: 1px solid $_e8e8e8;
      li {
        a {
          &:hover {
            padding-right: 0rem;
            padding-left: 0.5rem;
          }
        }
      }
    }
    .social_container_footer {
      div {
        svg {
          margin-left: 0rem;
          margin-right: 1rem;
        }
      }
    }
    .brand_description {
      img {
        transform: rotateY(180deg);
        margin-left: 0rem;
        margin-right: 1.4rem;
      }
    }
  }
  .signature {
    span {
      left: auto;
      right: 1.5rem;
    }
  }
}

@media (max-width: 720px) {
  footer {
    .toTop {
      transition: 0.25s all;
      svg {
        transition: 0.25s all;
        opacity: 0.5;
        left: 2rem;
        bottom: 4rem;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
@media (max-width: 680px) {
  footer {
    .plus_border {
      display: block;
      ul {
        width: 100%;
        border-left-color: transparent;
      }
      .social_container_footer {
        text-align: center;
        width: 100%;
      }
    }
  }
}
