.CheckBox_Loader_placeHolder {
  width: 20rem;
  margin-bottom: 0.8rem;
  p {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background: #f1f1f1;
    border-radius: 4px;
    margin-left: 1rem;
    vertical-align: middle;
  }
  span {
    width: 12rem;
    height: 1.4rem; 
    display: inline-block;
    border-radius: 4px;
    vertical-align: middle;
  }
}
