@import '../../../styles/colors';
.checkBoxLoader {
  margin-bottom: 8px;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  p {
    width: 16px;
    height: 16px;
    background: $_f1f1f1;
    border-radius: 4px;
  }
  span {
    display: block;
    width: 70%;
    max-width: 200px;
    height: 14px;
    border-radius: 3px;
    margin-inline: 10px;
  }
}
