.CheckBox_Loader_placeHolder {
  width: 200px;
  margin-bottom: 8px;
  p {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: $_f1f1f1;
    border-radius: 4px;
    margin-left: 10px;
    vertical-align: middle;
  }
  span {
    width: 120px;
    height: 14px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
  }
}

@media screen and(max-width:575px){
  .CheckBox_Loader_placeHolder {
    width: 140px; 
    span {
      width: 100px; 
    }
  }
}