@import "../../../styles/colors";

.text_input_container {
  width: 100%;
  display: block;
  // position: relative;
  .text_input_label {
    color: $dark_gray;
    text-align: right;
    font-family: inherit;
    font-size: 1.4rem;
  }
  .separated_places {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    direction: ltr;
    .text_input {
      font-family: inherit;
      margin: 0 -30px 0 0;
      display: inline-block;
      width: 150px;
      outline: 0;
      -webkit-appearance: none;
      line-height: 1.5;
      padding: 1rem 0;
      text-align: left;
      letter-spacing: 20px;
      font-size: 3em;
      background: #ffffff;
      border: none;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 0;
      box-shadow: 0 0 0 0 transparent inset;
      -moz-appearance: textfield;

      &:focus {
        background-color: #ffffff;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .border_on_each_Item {
      position: absolute;
      left: 21px;
      right: 0;
      bottom: 14px;
      width: 152px;
      margin: auto;
      height: 3px;
      text-align: left;
      span {
        display: inline-block;
        border-bottom: 1px solid $blue;
        width: 25px;
        margin: 0 12px 0 0;
      }
    }
    .span_error {
      span {
        border-bottom: 1px solid #d83030 !important;
      }
    }
  }
  .input_error_message {
    font-size: 1.2rem;
    color: $Error_text_color;
  }
}
