@import "../../../styles/colors";

.text_input_container {
  width: 100%;
  display: block;
  // position: relative;
  .text_input_label {
    color: $dark_gray;
    text-align: right;
    font-family: inherit;
    font-size: 1.4rem;
  }
  .separated_places {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    direction: ltr;
    .text_input {
      font-family: inherit;
      margin: 1rem 0.5rem;
      display: inline-block;
      width: 3rem;
      outline: 0;
      -webkit-appearance: none;
      line-height: 1.5;
      padding: 1rem 0;
      text-align: center;
      font-size: 1.6em;
      background: #ffffff;
      border: none;
      border-bottom: 1px solid $light_grey;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 0;
      box-shadow: 0 0 0 0 transparent inset;
      &:focus {
        background-color: #ffffff;
      }
    }
    .clean_icon {
      position: absolute;
      left: 10px;
      bottom: 11px;
      cursor: pointer;
      width: 2rem;
    }
    .input_tail_content {
      position: absolute;
      right: 104%;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      color: $more_gray;
      background-color: $almost_white;
      padding: 0 1rem;
      border-radius: 4px 0 0px 4px;
      white-space: nowrap;
    }
    .inputError {
      border: none !important;
      border-bottom: 1px solid #d83030 !important;
      background-color: none !important;
      color: #d83030;
    }
  }
  .input_error_message {
    font-size: 1.2rem;
    color: $Error_text_color;
  }
}
