@import '../../../styles/colors';

.text_input_container {
  width: 100%;
  display: block;
  // position: relative;
  .text_input_label {
    color: $_313131;
    font-family: inherit;
    font-size: 14px;
    display: inline-block;
  }
  .separated_places {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    direction: ltr;
    .text_input {
      font-family: inherit;
      margin: 0 -30px 0 0;
      display: inline-block;
      width: 145px;
      outline: 0;
      -webkit-appearance: none;
      line-height: 1.5;
      padding: 10px 0;
      text-align: left;
      letter-spacing: 24px;
      font-size: 2em;
      background: $_ffffff;
      border: none;
      color: $_737373;
      border-radius: 0;
      box-shadow: 0 0 0 0 transparent inset;
      -moz-appearance: textfield;

      &:focus {
        background-color: $_ffffff;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .border_on_each_Item {
      position: absolute;
      left: 27px;
      right: 0;
      bottom: 10px;
      width: 152px;
      margin: auto;
      height: 3px;
      text-align: left;
      span {
        display: inline-block;
        border-bottom: 1px solid $_3fa6da;
        margin-right: 15px;
        width: 20px;
        &:nth-of-type(4) {
          margin-right: 0;
        }
      }
    }
    .span_error {
      span {
        border-bottom: 1px solid $_d83030 !important;
      }
    }
  }
  .input_error_message {
    font-size: 12px;
    color: $_d83030;
  }
}
