@import "../../../styles/colors";

/* Customize the label (the container) */

.radio_container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2rem;
    transition: 0.2s;
  /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    padding-right: 2.8rem;
    color: $grey_color;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    border: 2px solid rgba(34, 36, 38, 0.14);
    width: 2rem;
    background-color: transparent;
    border-radius: 50%;
  }

  .container:hover{
      color: $Main_black_Text_Color;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: transparent;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: transparent;
    border-color: $main__color;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $main__color;
  }
}
