@import "../../../styles/colors";

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  .icon {
    svg {
      background: $_3fa6da;
      border-radius: 20px;
      padding: 4px;
    }
  }
  h2 {
    text-align: center;
    font-size: 14px;
  }
}
.form {
  label {
    line-height: normal;
  }
  input {
    margin-bottom: 20px !important;
  }
  .localClass {
    width: 100%;
    margin-top: 8px;
  }
}
