@use "../../styles/newStyles/variables" as var;
@import '../../styles/colors';
@import './modals/modal.module.scss';
.header {
  background-color: $_1f1f1f;
  padding: 8px 0;
  // height: 48px;
  font-family: 'danaXV', 'dana';
  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Logo {
    // float: left;
    // margin-top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    .homeLink {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .carLogo {
        display: inherit;
        @media screen and (min-width: 360px) {
          display: none;
        }
        @media screen and (min-width: var.$screenMax480) {
          display: inherit;
          margin-inline-end: 12px;
        }
      }
      .textLogo {
        display: none;
        @media screen and (min-width: 360px) {
          display: flex;
        }
      }
    }
    // &::after {
    //   display: block;
    //   clear: both;
    //   content: "";
    // }
  }

  // @disable the hamburger menu

  // .header_menu_bar {
  //   padding-bottom: 10px;
  //   cursor: pointer;
  //   display: none;
  // }
  // .show_menu_drawer {
  //   top: 0;
  //   display: block;
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.376);
  //   right: 0;
  //   z-index: 30;
  // }
  // .hide_menu_drawer {
  //   display: none;
  // }
  // .showMenu {
  //   transform: translateX(0px) !important;
  //   opacity: 1 !important;
  //   z-index: 31;
  //   padding-top: 2.5rem;
  // }

  .Nav {
    transition: 0.25s all;
    // margin-top: -3px;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        // display: inline-block;
        color: $_fefefe;
        font-size: 14px;
        position: relative;
        line-height: 2;
        font-weight: 500;
        cursor: pointer;
        .profile {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .profile_icon {
          width: 32px;
          // display: inline-block;
          // vertical-align: middle;
          border-radius: 50%;
          margin-right: 8px;
        }
        .name_avatar__container {
          margin-right: 8px;
          span {
            padding: 0 !important;
          }
        }
        .red_dot {
          background: $_c1104a;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          padding: 0;
        }
        .Sub_Nav_Level_2 {
          display: none;
          position: absolute;
          box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0px;
          width: 120px;
          left: -16px;
          top: 28px;
          min-width: 200px;
          background: rgb(255, 255, 255);
          border-radius: 3px;
          z-index: 20;
          li {
            padding-bottom: 0;
            display: block;
            &:hover {
              background-color: rgb(250, 250, 250);
              border-radius: 4px;
              a {
                color: rgb(75, 163, 206);
              }
              padding-left: 15px;
            }
            span,
            a {
              font-size: 12px;
              color: $_313131;
              display: block;
              line-height: 1;
              border-bottom: 1px solid rgb(254, 254, 254);
              padding: 15px 10px;
            }
          }
        }
        span {
          vertical-align: middle;
        }
        a,
        span {
          font-weight: 500;
          font-size: 14px;
          color: $_fefefe;
          padding-right: 16px;
          display: block;
        }
        .user-name {
          padding: 0 !important;
          // display: inline-block;
        }
        .login-out {
          padding: 0;
          display: inline-block;
        }
      }
      .header_spinner {
        margin-right: 16px;
        .profile_icon_place_holder {
          display: inline-block;
          width: 28px;
          height: 28px;
          vertical-align: middle;
          margin-right: 8px;
          border-radius: 50%;
        }
        span {
          padding: 0;
          width: 60px;
          display: inline-block;
          height: 12px;
          border-radius: 8px;
        }
      }
      .Drop_Down {
        .earthIcon {
          display: inherit;
          svg {
            display: flex;
          }
        }
        .localeDropDown {
          min-width: 105px;
          width: auto;
          &::before {
            left: 24% !important;
          }
        }
        .Sub_Nav_Level_2 {
          // display: block;
          &::before {
            bottom: 100%;
            left: 13%;
            content: '';
            height: 0px;
            width: 0px;
            position: absolute;
            pointer-events: none;
            margin-left: -7px;
            border-style: solid;
            border-color: transparent transparent rgb(255, 255, 255);
            border-image: initial;
            border-width: 5px;
          }
        }
        .dropdownIsActive {
          display: block;
        }
      }
    }
  }
}

.header[dir='ltr'] {
  .Nav {
    ul {
      li {
        .profile_icon {
          margin-right: 0px;
          margin-left: 8px;
        }
        .login-out {
          padding: 0;
        }
        .name_avatar__container {
          margin-right: 0px;
          margin-left: 8px;
        }
        .red_dot {
          left: auto;
          right: 0;
        }
        .Sub_Nav_Level_2 {
          li {
            &:hover {
              padding-left: 0px;
              padding-right: 15px;
            }
          }
        }
        a,
        span {
          padding-right: 0;
          padding-left: 16px;
        }
      }
      .header_spinner {
        margin-right: 0;
        margin-left: 16px;
        .profile_icon_place_holder {
          margin-right: 0px;
          margin-left: 8px;
        }
      }
      .Drop_Down {
        .localeDropDown {
          &::before {
            left: auto !important;
            right: 63% !important;
          }
        }
        .Sub_Nav_Level_2 {
          &::before {
            left: auto;
            right: 81%;
            margin-left: 0px;
            margin-right: -7px;
          }
        }
      }
    }
  }
}

@media screen and(max-width:480px) {
  .header {
    .Logo {
      // margin-top: -3px;
    }
    .Nav {
      margin-top: -2px;
      ul {
        .first_element_li {
          span {
            display: none;
          }
          div {
            margin: 0 !important;
          }
        }
        li {
          .profile_icon {
            margin-right: 0;
          }
          .user-name {
            display: none;
          }
        }
        .header_spinner {
          .profile_icon_place_holder {
            margin-right: 0px;
          }
          span {
            display: none;
          }
        }
      }
    }
  }
}
