@import "../../styles/colors";
@import "./modals/modal.scss";
.header {
  background-color: $black;
  padding-top: 1.2rem;
  // height: 64px;
  .Logo {
    float: left;
    &::after {
      display: block;
      clear: both;
      content: "";
    }
    img {
      width: 8.1rem;
    }
  }

  // @disable the hamburger menu

  // .header_menu_bar {
  //   padding-bottom: 1rem;
  //   cursor: pointer;
  //   display: none;
  // }
  // .show_menu_drawer {
  //   top: 0;
  //   display: block;
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.376);
  //   right: 0;
  //   z-index: 30;
  // }
  // .hide_menu_drawer {
  //   display: none;
  // }
  // .showMenu {
  //   transform: translateX(0px) !important;
  //   opacity: 1 !important;
  //   z-index: 31;
  //   padding-top: 2.5rem;
  // }

  .Nav {
    transition: 0.25s all;
    ul {
      li {
        display: inline-block;
        color: $white;
        font-size: 1.4rem;
        position: relative;
        line-height: 2;
        font-weight: 500;
        cursor: pointer;
        .profile_icon {
          width: 2.8rem;
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          margin-left: 8px;
        }
        .red_dot {
          background: #c1104a;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          padding: 0;
        }
        .Sub_Nav_Level_2 {
          display: none;
          position: absolute;
          box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0px;
          width: 120px;
          right: -16px;
          top: 36px;
          min-width: 200px;
          background: rgb(255, 255, 255);
          border-radius: 3px;
          z-index: 20;
          li {
            padding-bottom: 0rem;
            display: block;
            &:hover {
              background-color: rgb(250, 250, 250);
              a {
                color: rgb(75, 163, 206);
              }
              padding-left: 15px;
            }
            a {
              font-size: 1.1rem;
              color: $dark_gray;
              display: block;
              line-height: 1;
              border-bottom: 1px solid rgb(254, 254, 254);
              padding: 15px 10px;
            }
          }
        }
        span {
          vertical-align: middle;
        }
        a,
        span {
          font-weight: 500;
          font-size: 1.4rem;
          color: $white;
          padding-bottom: 1.2rem;
          padding-left: 2.4rem;
          display: block;
        }
      }
      .Drop_Down {
        &:hover .Sub_Nav_Level_2 {
          display: block;
          &::before {
            bottom: 100%;
            right: 15%;
            content: "";
            height: 0px;
            width: 0px;
            position: absolute;
            pointer-events: none;
            margin-left: -7px;
            border-style: solid;
            border-color: transparent transparent rgb(255, 255, 255);
            border-image: initial;
            border-width: 7px;
          }
        }
      }
    }
  }
}

@media screen and(max-width:720px) {
  .header {
    // @disable the hamburger menu

    // .header_menu_bar {
    //   display: inline-block;
    // }
    // .Nav {
    //   position: fixed;
    //   width: 23rem;
    //   height: 100%;
    //   background: #1f1f1f;
    //   top: 0;
    //   right: 0;
    //   opacity: 0;
    //   transform: translateX(1000px);
    //   box-shadow: -2px 0px 2px #0e0e0e;
    //   ul {
    //     li {
    //       display: block;
    //       padding-right: 1.6rem;
    //       padding-top: 2rem;
    //       .Sub_Nav_Level_2 {
    //         position: static;
    //         background-color: transparent;
    //         &::before {
    //           display: none;
    //         }
    //         li {
    //           padding: 0rem;
    //           a {
    //             color: #ffffff;
    //             border-bottom: 1px solid #000000;
    //           }
    //         }
    //       }
    //     }
    //   }
    //   .first_element_li {
    //     padding-top: 0rem;
    //     border-bottom: 2px solid #3e3e3d;
    //     box-shadow: 1px 1px 2px #060606;
    //     padding-bottom: 2.3rem;
    //     .profile_icon {
    //       width: 5rem;
    //       margin-left: 1.2rem;
    //     }
    //   }
    // }
  }
}

@media screen and(max-width:480px) {
  .header {
    .Nav {
      ul {
        .first_element_li {
          span {
            display: none;
          }
        }
      }
    }
  }
}
