@import "../../styles/colors";

.AccordionContainer {
  padding-block: 25px;
  cursor: pointer;
  border-top: 1px solid $_cccccc;
  position: relative;
  .singleItem {
    border-bottom: 1px solid $_cccccc;
    &:last-child {
      border-bottom-color: transparent;
    }
    .question {
      padding-block: 20px;
      padding-inline-end: 20px;
      padding-inline-start: 0;
      position: relative;
      h3 {
        p {
          font-size: 14px;
          font-weight: 400;
          font-variation-settings: "wght" 400;
        }
      }
      svg {
        transition: 0.25s;
        position: absolute;
        inset-inline-end: -8px;
        top: 16px;
        transform: rotate(180deg);
      }
    }
    .activeQuestion {
      svg {
        transform: rotate(0);
      }
    }
    .answer {
      display: none;
      padding-bottom: 16px;
      p {
        font-weight: 400;
        font-variation-settings: "wght" 400;
        font-size: 14px;
        a {
          color: $_1e7cab;
          font-weight: 500;
          font-variation-settings: "wght" 500;
        }
      }
    }
    .activeItem {
      display: block;
    }
  }
}
