@import '../../styles/colors';

.FQ_BOX {
  cursor: pointer;
  border-top: 1px solid $_cccccc;
  padding: 16px;
  position: relative;
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 14px;
    width: 95%;
  }
  .ICON_CHevron {
    transition: 0.25s;
    position: absolute;
    left: 9px;
    top: 20px;
    width: 20px;
  }
  .ACTIVE_CHEVRON {
    transform: rotate(180deg);
  }
  .QuestionPart {
    display: none;
    font-size: 14px;
    color: rgb(42, 42, 42);
  }
  .activeQA {
    display: block;
    color: rgba(0, 0, 0, 0.95) !important;
  }
  a {
    color: $_3fa6da;
    font-weight: 500;
  }
}
.FQ_BOX[dir='ltr'] {
  .ICON_CHevron {
    left: auto;
    right: 9px;
  }
}
