@import "../../styles/colors";
.carousel_container {
  position: relative;
  width: 100%;
  height: 550px;
  background-color: #e6e6e6;
  overflow: hidden;
  transition: 0.5s all;
  direction: ltr;
}
.border-gap {
  border-left: 1.6rem solid $white;
  border-right: 1.6rem solid $white;
}
.carousel_container .carousel_FrontImage {
  transition: 0.5s all;
  max-width: auto;
  height: 100%;
  box-shadow: 0px 0px 105px #3c3c3c;
  // transform: translate(0);
  display: block;
  margin: auto;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  max-width: 100%;
}
img.TranslateRight {
  transform: translateX(3000px);
}
img.TranslateLeft {
  transform: translateX(-3000px);
}
.carousel_BackImage {
  transform: scale(1.7);
  right: 0;
  top: 0;
  z-index: 1 !important;
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  filter: blur(20px);
}
// .Slider_Part .carousel_FrontImage{
//   width: auto;
//   height: 100%;
//   display: block;
//   margin: auto;
//   position: relative;
//   z-index: 2;
// }
.HiddenSlide {
  display: none !important;
}

.activeDot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: $dark_blue;
  margin: 6px;
  display: inline-block;
  vertical-align: middle;
}

.deactiveDot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: $gray;
  margin: 6px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.3;
}
.NAVIGA {
  padding: 2rem 0 2rem 2rem;
  width: auto;
  height: auto;
  transition: 0.2s;
  position: absolute;
  top: 246px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 12px;
  color: #7d7d7d;
  border-radius: 50px;
}
.NAVIGA:hover {
  opacity: 0.8;
}
.NAVIGA:focus,
.NAVIGA:active {
  outline: none;
}

.NAVIGA.arrow-right {
  right: 1.2rem;
  position: absolute;
  svg {
    margin-top: 3px;
    width: 3rem;
  }
}
.NAVIGA.arrow-left {
  left: 1.2rem;
  position: absolute;
  transform: rotate(180deg);
  svg {
    transform: rotate(180deg);
    margin-left: -3px;
    margin-top: 3px;
    width: 3rem;
  }
}
.NavBotton {
  cursor: pointer;
  // position: absolute;
  bottom: 0px;
  background: #fff;
  right: 0;
  left: 0;
  margin: auto;
  padding-top: 8px;
  z-index: 4;
  text-align: center;
  margin-bottom: 0.8rem;
}
.FullScreen {
  padding: 1.2rem;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  svg {
    width: 4rem;
  }
}

@media (max-width: 720px) {
  .carousel_container {
    height: auto;
  }
  .NAVIGA {
    top: 38%;
    display: block;
  }
  .G_R,
  .G_L {
    top: 26%;
  }
  .G_R {
    right: 0;
  }
  .G_L {
    left: 0;
  }
  .deactiveDot,
  .activeDot {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 3px !important;
  }
}
