@import "../../styles/colors";
.carousel_container {
  position: relative;
  width: 100%;
  height: 550px;
  background-color: $_e6e6e6;
  overflow: hidden;
  transition: 0.5s all;
  direction: ltr;
}
.border-gap {
  border-left: 16px solid $_fefefe;
  border-right: 16px solid $_fefefe;
}
.carousel_container .carousel_FrontImage {
  transition: 0.5s all;
  max-width: auto;
  height: 100%;
  box-shadow: 0px 0px 105px $_3c3c3c;
  // transform: translate(0);
  display: block;
  margin: auto;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  max-width: 100%;
}
img.TranslateRight {
  transform: translateX(3000px);
}
img.TranslateLeft {
  transform: translateX(-3000px);
}
.carousel_BackImage {
  transform: scale(1.7);
  right: 0;
  top: 0;
  z-index: 1 !important;
  position: absolute !important;
  width: 100% !important;
  height: auto !important;
  filter: blur(20px);
}
// .Slider_Part .carousel_FrontImage{
//   width: auto;
//   height: 100%;
//   display: block;
//   margin: auto;
//   position: relative;
//   z-index: 2;
// }
.HiddenSlide {
  display: none !important;
}

.activeDot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: $_116b98;
  margin: 6px;
  display: inline-block;
  vertical-align: middle;
}

.deactiveDot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: $_808080;
  margin: 6px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.3;
}
.NAVIGA {
  padding: 20px 16px 20px 40px;
  width: auto;
  height: 100%;
  transition: 0.2s;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 12px;
  color: $_7d7d7d;
  border-radius: 50px;
}
.NAVIGA:hover {
  opacity: 0.8;
}
.NAVIGA:focus,
.NAVIGA:active {
  outline: none;
}

.NAVIGA.arrow-right {
  right: 0;
  position: absolute;
  svg {
    margin-top: 3px;
    width: 30px;
  }
}
.NAVIGA.arrow-left {
  left: 0;
  position: absolute;
  transform: rotate(180deg);
  svg {
    transform: rotate(180deg);
    margin-left: -3px;
    margin-top: 3px;
    width: 30px;
  }
}
.NavBotton {
  cursor: pointer;
  direction: ltr;
  bottom: 0px;
  background: $_ffffff;
  right: 0;
  left: 0;
  margin: auto;
  padding-top: 8px;
  z-index: 4;
  text-align: center;
  margin-bottom: 8px;
}
.FullScreen {
  padding: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 20;
  svg {
    width: 40px;
  }
}

@media (max-width: 720px) {
  .carousel_container {
    height: auto;
  }
  .NAVIGA {
    // top: 38%;
    display: block;
    padding: 20px 12px 20px 40px;
  }

  // .G_R,
  // .G_L {
  //   top: 26%;
  // }
  .G_R {
    right: 0;
  }
  .G_L {
    left: 0;
  }
  .FullScreen {
    padding: 12px;
  }
  .deactiveDot,
  .activeDot {
    width: 6px;
    height: 6px;
    margin: 0 3px !important;
  }
}
